[2015-11-14 17:33] cemeyer opened #6 "XFS can't mount: failure at mm/nommu.c:466/vm_map_ram()!"
LKL pretends to be a nommu architecture, and the nommu generic code `BUG()`s on `vm_map_ram()`.  (As mentioned in #4.)

[2015-11-15 06:55] staalmannen opened #7 "undefined references during Make test with MinGW"
Hi.

I have packaged lkl for Arch linux AUR
https://aur.archlinux.org/packages/lkl-linux-git/

and I was now going to package the MinGW cross-compiled version too:
https://aur.archlinux.org/packages/mingw-w64-lkl-linux-git/

This one does however fail during Make test:
[code]

Is there a library that I explicitly need to link?

[2015-11-15 14:13] tavip commented on #7
Hi,

In order to build LKL with mingw you need a few patches to binutils so that it properly supports weak symbols:

https://sourceware.org/ml/binutils/2015-10/msg00234.html

I should probably update the documentation until those patches are merged.

Thanks,
Tavi

[2015-11-15 14:34] tavip commented on #6
I think the best way to fix this is to modify XFS to work with nonmmu architectures, even if it will have some performance issues in that configurations (I guess the main issue is memory fragmentation).

This way XFS can support other non-mmu architecture and it also will support LKL environments that don't have mmap (like boot loaders).

What do you think?

[2015-11-15 17:11] cemeyer commented on #6
That may be the best way, but I don't know how much work is required.

[2015-11-17 22:04] tavip commented on #6
I pushed a patch that implements basic non-mmu support at the cost of memory fragmentation. I'll also send it as a RFC patch to the fs developers to see what they think.

[2015-11-17 22:14] cemeyer commented on #6
Interesting.  I am also curious what they think.

[2015-11-17 23:29] cemeyer opened #10 "Documentation/lkl.txt isn't quite Markdown syntax"
Feel free to ignore or close this one — I realize the README.md symlink is mostly a convenience for Github users and will never go upstream, while `Documentation/lkl.txt` may well land in Linus' tree.

However, some of lkl.txt renders ugly in Github Markdown.  Individual lines that should be left unformatted (code / shell examples) get merged (in the "Building" sections).

[2015-11-18 16:11] tavip commented on #10
Ah, didn't noticed that. The other option would be to replace the existing Linux kernel README with a link to Documentation/lkl.txt but initially I felt like I should not touch that.

Any other options? Can we tell GitHUB to use another file instead of README?

[2015-11-18 16:38] cemeyer commented on #10
I believe we could just indent code blocks in lkl.txt by 4 spaces, and that should render OK.  And it may still be acceptable for Documentation/*.txt.

[2015-11-19 16:11] tavip opened #14 "lklfuse segfault when run in background"
Looks like a race condition between lkl init and fuse calls:

~/src/linux/tools/lkl$ addr2line -ie ./lklfuse
0x0000000000404d4d
/home/tavi/src/linux/arch/lkl/kernel/syscalls.c:112

[2015-11-19 16:16] tavip opened #15 "add memory parameter to lklfuse"

[2015-11-19 16:17] tavip opened #16 "lklfuse hang with stress-ng"
stress-ng --class filesystem --all 0
stress-ng --class filesystem --seq 0 -v -t 60

[2015-11-19 19:39] tavip commented on #14
Fixed in commit 4a0c6b4aa51fa256d3787124ed678e1c407fb469.

[2015-11-19 19:39] #14 closed

[2015-11-19 19:48] tavip commented on #10
Yes, indent sounds nice. Fixed in commit 3024076a1464dd096db2f6523aba79ad624fb2ac.

[2015-11-19 19:48] #10 closed

[2015-11-19 19:49] tavip commented on #15
Fixed in commit 1cb1cf9e764acbca2b1c35a095bae884ea5511bb

[2015-11-19 19:49] #15 closed

[2015-11-19 19:56] cemeyer commented on #10
Looks good.

[2015-11-19 20:09] tavip commented on #7
I have added information about the mingw patches and win32 build process in the documentation in commit 64a367f522c6ec4fbed0193589d7733b06ab7968. If the build still fails for you with the above mentioned patches, please re-open this issue or ping me. Thanks!

[2015-11-19 20:09] #7 closed

[2015-11-20 02:13] petrosagg opened #17 "[question] How is lklfuse.o linked with liblkl.a?"
While building this project I noticed the following weird result. When I run `strings liblkl.a | grep lkl_sys | sort -u` I get the following syscalls:

[code]

However, `lklfuce.c` refers to a lot of extra `lkl_sys_*` functions. One example is `lkl_sys_chown`. I ran `find -type f|xargs grep lkl_sys_chown` on the whole linux tree that includes my built objects and the only references to this functi

[2015-11-20 08:14] staalmannen commented on #7
Thanks! I will try rebuilding / packaging an alternative patched mingw binutils and use that as makedepend for my mingw lkl AUR package this evening. I will let you know how it works.

[2015-11-20 08:18] staalmannen opened #18 "[RFC / question ] pulling in (some) llvmlinux patches to support clang?"
I was thinking that it might be interesting to pull in some patches from llvmlinux to support building lkl with clang? It would make one less makedepend for FreeBSD and other OSes that default to llvm/clang.

http://git.linuxfoundation.org/?p=llvmlinux.git;a=summary

Since many patches are architecture-specific, they are most likely not needed for lkl so some cherry picking could be done.

To keep

[2015-11-20 11:35] thehajime commented on #18
+1
I have failed a couple of times to build libos/lkl on my macbook. it would be great to play with it in near future.

[2015-11-20 11:45] tavip commented on #17
When we compile the kernel object (lkl.o) we make all symbols private (with objcopy -G) except the ones define in LKL_ENTRY_POINTS in arch/lkl/Makefile. This way we can avoid name collisions with applications and other libraries and we can keep the entry points into lkl controlled (we don't want to export any random function due to relatively high changes in the API and the fact that we need a pro

[2015-11-20 14:58] tavip commented on #18
Hi Jens,

Yes, it would be great to have llvm support. I agree that we should keep this as a separate branch and I will create one as soon as you have a pull request for me :)

BTW, the biggest issue I see on Mac OS X is the linker. I've noticed that Max OS X uses a non-gnu linker and LKL requires a full gnu linker in order to be able to use linker scripts for vmlinux.

Thanks,
Tavi

[2015-11-21 06:24] staalmannen commented on #18
I have made a pull request. Github complains about some kind of conflict. I don't know if the build tests can be specifically configured for different branches?

In that case, it would be great if that branch got tested with clang

[2015-11-21 07:58] staalmannen opened #20 "[might be crazy] lkl on Rump kernels?"
As far as I can see, the scope of lkl is pretty similar to the NetBSD Rump kernels (http://rumpkernel.org/). The difference there is that it has developed several back-ends already (directly on Xen, bare metal, GenodeOS, Hurd, ...).

So the crazy thing I just throw "out there" is : does it make _any_ sense to build lkl on top of Rump (specifically, rumprun libc)?

At first sight it seems as convol

[2015-11-21 09:07] thehajime commented on #18
if you want to change the test behavior on your branch, you can include your change into circle.yml.

https://github.com/lkl/linux/blob/master/circle.yml

[2015-11-21 09:57] thehajime commented on #20
I think it _should_ not go into the first upstream since it's still buggy and makes ppls think so many things at the same time, but I've already started to port my linux libos work to lkl with a rump hypercall backend.

https://github.com/thehajime/lkl-linux/tree/rump-hypcall
(I'm using non-ff update frequently at this testing moment so, each commits are tentative.)

status is really early stage a

[2015-11-21 21:15] thehajime commented on #20
could you care to elaborate what rumprun libc means ? rumprun-posix or else ?

[2015-11-21 22:19] petrosagg commented on #17
Oh, right. That makes sense now. I got confused because `liblkl.a` includes symbols like `lkl_sys_open` which from further investigation seem to come from `fs.o` which is also included in `liblkl.a`

Thanks for the explanation!

[2015-11-21 22:21] petrosagg commented on #17
Does it make sense to make `lkl_sys_*` symbols from fs.c etc private as well so that the resulting library doesn't have these symbols exported? I could send a patch for this

[2015-11-21 23:25] thehajime commented on #17
if this is only the limitation of exposing random functions, then we may have to think about  an alternate path to run in the proper context, though I have no idea at the moment.

I still think that this is an open question: whether what kind of interfaces lkl wants to expose.

if your objective is just avoiding symbol collisions between applications and kernel, there is alternate way to do that.

[2015-11-22 00:09] petrosagg commented on #17
While it's true that the internal kernel APIs change, that could be something for the application developer to consider when deciding whether or not to use them.

Aren't there useful functions that need no context? One example that comes to mind is crypto functions or implementations of various data structures.

namespacing all the symbols and letting the application developer choose what to use s

[2015-11-23 02:11] tavip commented on #17
There already are dedicated userspace libraries for crypto functions and data structures, so I am not sure what purpose would that serve.

For complex tasks such as filesystems manipulation and networking stack usage you need a proper context.

[2015-11-23 02:15] tavip commented on #17
There are no lkl_sys_ symbols exported from fs.c in liblkl.a. You should use nm not strings to see what symbols are exported.

[2015-11-23 02:35] petrosagg commented on #17
Indeed, using a dedicated crypto userspace library would be the sensible thing to do. But is *everything* in the kernel available as a userspace library? And even it is, I don't see how more libraries or more choice for the application developer in general is a bad thing.

You're right and I don't have a solution for using these functions to manipulate a running kernel.

But those functions can be

[2015-11-25 02:52] stfairy opened #21 "syscall not implemented warnings"
I checked out 2b6ea3c and did

[code]

and I'm seeing warnings like this

[code]
...

Are they really not implemented yet, or the warnings are just spurious?

[2015-11-25 02:57] stfairy opened #22 "no .eh_frame_hdr table will be created"
[code]

Is this error expected?

[2015-11-25 03:07] thehajime commented on #21
as far as I know, those calls are planed (tm) to implement in lkl at some point.
indeed, it's annoying and makes other errors hard to catch though.

[2015-12-03 11:18] staalmannen opened #25 "Win64 target"
I played around a bit with cross-compiling to Win64 with mingw-w64 by adding the needed "pe-x86-64" in tools/lkl/Makefile and arch/lkl/Makefile.

"interestingly" it fails in two different ways if I add or don't add
select 64BIT if OUTPUT_FORMAT = "pe-x86-64"
in arch/lkl/Kbuild

Without it, it fails on the compilation check
 #define BUILD_BUG_ON_ZERO(e) (sizeof(struct { int:-!!(e); }))
in include/l

[2015-12-03 13:14] tavip commented on #25
I don't know :) But I think it will require significant changes to support 32bit longs. And we need to do that without too much intrusion in the kernel.

I don't plan to look into this in the next couple of months.

[2015-12-03 13:17] staalmannen commented on #20
I might have misunderstood Rumprun.
I thought it basically was based on a NetBSD libc that had been modified to run on top of a rump kernel. I also expected lkl to depend on libc to have correct syscalls etc on a non-linux host kernel.

[2015-12-04 06:20] thehajime opened #27 "fix valgrind reported errors"
PR #9 started to report various errors in circle ci test. what we can do next is:
- to suppress by an auxiliary file to tell valgrind ignored
- to fix those issue in lkl
- to fix issues and _upstream_ them (which should be great!)

e.g.,
https://circleci.com/gh/lkl/linux/38#tests

[code]

anybody volunteer to tackle those is really appreciated !

[2015-12-04 13:12] thehajime commented on #22
fixed by daa99d665df09bd7463f57d9ef53a626516aac31.

[2015-12-04 13:12] #22 closed

[2015-12-04 14:36] thehajime commented on #27
i've added a suppression file for valgrind PR #28 to ignore some errors.

[2015-12-04 16:41] cemeyer opened #29 "execs: Link against shared library lkl.so"
This is possible after https://github.com/lkl/linux/commit/0acaaa7ef75d8f5da336b6ec47d140ea235ae352 , I think.

Perhaps as simple as:

[code]

[2015-12-12 21:41] thehajime opened #32 "virtio-net ?"
is there any plans/news to create virtio-net so that networking code with lkl can send/recv packets from outside ?

if not, i'm going to bite a bullet (oops, to have a fun :)).

[2015-12-15 17:02] tavip commented on #32
Hi Hajime,

Sorry for the delay in answering, I was traveling last week. I am back now and I have a full week to work on LKL :) NUSE / hijack integration and virtio-net are the first two items on my priority list.

Thanks,
Tavi

[2015-12-16 00:07] thehajime commented on #32
@tavip great

[2015-12-16 01:52] #32 closed

[2016-01-06 14:57] tavip commented on #21
Fixed in commit 5c865ecdeeaf58c18d01afb75eb36f4f4f7bf2da

[2016-01-06 14:57] #21 closed

[2016-01-08 06:22] thehajime opened #34 "can't register multiple virtio devices"
when you added two virtio devices, in a single program like below,

[code]

2nd device is failed to register.

[code]

[2016-01-08 07:44] thehajime commented on #34
i don't know this is the right way or not but with the following patch makes the message above disappeared.

https://gist.github.com/thehajime/2730a4763f02ba1ac417

[2016-01-09 14:26] tavip commented on #34
Fix in c25294b0d9d64fe00f05448fd816222c1cae6983

[2016-01-09 14:26] #34 closed

[2016-01-15 16:37] tommie-lie opened #36 "[RFC] Reorganize build system"
I want to use lkl in one of my projects and currently the bulid process is a bit clumsy. There ist no `make install` and the build is only within the tree, and the Kernel's Kbulid won't install lkl headers like `lkl.h` and similar issues that are all minor by themselves.

I therefore want to volunteer to clean up the build system a little bit, provide a sensible install target, provide a .pc file

[2016-01-15 16:49] tavip commented on #36
Hi Thomas,

1. It is very welcomed :)

2. I am not sure about GNU autotools. If there are other users in the Linux kernel tools directory then probably is fine to use it for LKL as well. If not, it will likely get rejected in upstream.

tools/build might help but I never got the time to fully understand it.

The most mature tool in tools/ is perf so perhaps we should try to use the same approach a

[2016-01-15 17:21] tavip commented on #36
Sorry, I missed this part of your message.

In this case autotools seems acceptable to me - and I think it might help in porting LKL to other OSES.

[2016-01-15 17:38] tommie-lie commented on #36
i think it increases portability, too. OTOH usbip seems to be rather small tool while lkl has a much larger footprint.
It would definitely be a waste if you could not upstream the patches due to the wrong build system. My concern here is that lkl.o (which is build by Kbuild) is more or less useless without liblkl.o (which would then be build by autoconf). I can imagine people don't like that too m

[2016-01-15 18:54] tavip commented on #36
That is by design. Arch/lkl stuff it's very Linux specific, requires special linker scripts, CFLAGS/LDFLAGS,  special headers, etc. Stuff in toolks/lkl needs to use host headers, tools and build options.

[2016-01-15 23:31] pscollins opened #37 "Dependencies not documented"
Not a serious issue, but it would be nice --- on Ubuntu here I had to look into the circle.yml file to realize that I needed

* libfuse-dev
* libarchive-dev
* xfsprogs

`bc` ships with pretty much all *nix systems as far as I know and the wine/minigw dependencies seem to be for the sake of a Windows integration test, correct me if I'm wrong.

Then to get the test to run I needed:

* btrfs-tools

A

[2016-01-16 07:55] tavip commented on #37
Hi Patrick,

Yes, a PR with the info is more then welcomed :)

Thanks,
Tavi

[2016-01-16 21:05] tommie-lie commented on #36
After spending the better part of today reading through your paper, patches and the Kernel build system stuff, I think Kbuild/Kconfig is a better option than autotools. While autotools may have been ported to more platforms, tools/lkl depends on the Kernel Kbuild anyway for lkl.o. I also think that autotools is far less acceptable for such an essential part of the tools. For example, the previousl

[2016-01-18 14:21] thehajime commented on #36
+1

[2016-01-18 14:27] thehajime commented on #37
+1 for the documentation.

on the other hands, I've been thinking how messy to track all the dependencies in our document **IF** we will put much more test/example codes in ```tools/lkl```.

We then may need to have another repository, such as ```lkl-packages```, to host such lkl-specific applications. Dependencies are described by per-application, which may be easier to maintain by each package m

[2016-01-18 14:35] thehajime commented on #20
status update is available on my blog: https://github.com/thehajime/blog/issues/1. Any comments, feedback, and patches are more than welcome !

[2016-01-18 14:50] tommie-lie commented on #37
Judging from the backlash that Tavi got from the XFS maintainers when he proposed the no-mmu patches, I would rather not try to add more application stuff to `tools/lkl` (except from very bare testbeds in `tools/lkl/tests`). People are already arguing that lklfuse should not be in the Kernel tree.

My experiments yesterday concerning a new build system (issue #36) looked very promising and I think

[2016-01-18 15:41] tavip commented on #37
IIRC tools/perf has a good systems of detecting and reporting missing required / optional dependencies.

The concern there was that maintainers will not be able to test this configuration. I think that if we move lklfuse out of tools/lkl we will make that worse.

[2016-01-19 00:19] thehajime commented on #37
from what I observed from the particular subsystem people, they *just* don't have willingness to be with LKL. we can simply skip it to support unless we have a strong motivation to include in.

[2016-01-19 20:39] #37 closed

[2016-01-20 17:57] pscollins opened #39 "CONFIG_SLUB_DEBUG_ON=y in arch/lkl/defconfig?"
Is there a reason for this default? It looks like it causes a hit to performance, and since lkl doesn't make any changes to slub, I can't imagine it would catch many useful bugs.

[2016-01-20 18:08] tavip commented on #39
No reason,  just debug leftovers. I will disable it.

[2016-01-20 18:09] teto opened #40 "Testing kernel time management from userspace"
hi,

I am interested in testing the ntp protocol and real implementations such as chrony (http://chrony.tuxfamily.org) or ntpd (www.ntp.org) in a simulated environement, more precisely in the ns3 simulator (www.nsnam.org). ns3 makes it possible to run real code thanks to its Direct Code Execution (DCE) extension (https://github.com/direct-code-execution/ns-3-dce).

This issue is a way to assess my

[2016-01-20 18:17] johnstultz-work commented on #40
On Wed, Jan 20, 2016 at 10:09 AM, Matthieu Coudron
<notifications@github.com> wrote:

Note that the tests above have been merged w/ the Linux kernel's
source in the tools/testing/selftests/timers/ directory.

So this basically runs the kernel's timekeeping logic in userspace,
along with a harness to drive the logic and virtual clocksources used.

(Which is something I'd still like to see included

[2016-01-20 18:41] stfairy commented on #39
Thanks.

FYI I disabled it with

[code]

in my local working directory.

[2016-01-20 20:36] pscollins opened #42 "liblkl_hijack.so vs liblkl-hijack.so?"
tools/lib/Makefile provides two targets with slightly different names:

    ifneq (,$(filter $(OUTPUT_FORMAT),elf64-x86-64))
    lib += lib/liblkl_hijack.so
    hijack_objs = $(patsubst %.c,%.o,$(wildcard lib/hijack/*.c))
    objs += $(hijack_objs)
    endif

    lib/liblkl_hijack.so: LDFLAGS += -ldl
    lib/liblkl_hijack.so: $(hijack_objs) lib/liblkl.a
            $(CC) -o $@ -shared $^  $(LDFLAG

[2016-01-20 23:58] thehajime commented on #42
I think it's accidentally injected during PR/review/merge processes of the original patch.

Originally it was ```liblkl-hijack.so``` is the right target as specified in tools/lkl/bin/lkl-hijack.sh, so I think ```liblkl_hijack.so``` is not intended to be used.

@tavip, let me know if you have any opinion to remove ```liblkl_hijack.so``` is fine or not.

I don't understand what you meant by ___the v

[2016-01-21 00:05] opurdila commented on #42
Yeah, I messed it up, sorry about that :( We should remove liblkl_hijack.so.

[2016-01-21 00:31] thehajime commented on #40
@teto, although I have a plan to support ns-3 DCE with lkl, libos is not equal with lkl so far: there is no way to play ns-3 with lkl at the moment. [LibOS](https://github.com/libos-nuse/net-next-nuse) supports this since the initial version (actually libos is the port of ns-3 DCE linux support, btw).

a rough idea to accomplish this would be:
- to replace/bridge libos API to lkl host calls
- sync

[2016-01-21 00:41] #42 closed

[2016-01-21 01:39] pscollins commented on #42
@thehajime I meant "the version containing a _ character, lib_hijack.so." It's all cleared up now, though!

[2016-01-21 05:30] thehajime commented on #42
@pscollins got the point. thanks for the clarification.

[2016-01-21 22:38] #39 closed

[2016-01-22 08:42] mlichvar commented on #40
The trouble with this is that when you are simulating real clocks, you don't know when an event will actually happen. The clock randomly speeds up and slows down, in a simple model it can be Gaussian random walk in the frequency. I'm not familiar with ns-3 or DCE, so I'm not sure how that fits in the their design. I suspect for each kernel tick there will have to be a separate event.

[2016-01-22 11:31] teto commented on #40
I could add an event per tick but then it would not really align with the ns3 spirit and I suppose would prove very slow.
The idea is more to update parameters only when needed.
For instance when setting a singleshot offset, ns3 can translate when the node clock singleshotoffset should end in simulator time (the global reference). If the singleshotoffset is changed inbetween, rollback changes (i.e

[2016-01-22 13:12] mlichvar commented on #40
The instability of the clock does have an influence on NTP. With a perfect clock the job of an NTP client degrades to finding the right frequency offset and it would behave differently than with a typical computer clock, e.g. the polling interval would stay at the maximum. I know you want to get something working quickly, but please don't rule out the possibility of using a more realistic model of

[2016-01-22 14:09] teto commented on #40
I fully agree.
Once I get the basic case running, modeling more realistic clocks would be a lot easier; to add some noise and/or random change in frequency at random intervals. For now I struggle with the *basic* case :)

[2016-01-28 17:38] pscollins opened #48 "test_nanosleep is flaky under Valgrind"
Example:

    make -C tests valgrind
    make[1]: Entering directory `~/lkl-linux-master/tools/lkl/tests'
    VALGRIND_CMD="valgrind --suppressions=valgrind.supp --leak-check=full --show-leak-kinds=all" ./boot.sh -t ext4
    20480+0 records in
    20480+0 records out
    20971520 bytes (21 MB) copied, 0.0601454 s, 349 MB/s
    mke2fs 1.42.9 (4-Feb-2014)
    ==51041== Memcheck, a memory error detec

[2016-01-28 17:57] opurdila commented on #48
Good point, I agree that we should remove the upper bound check.

[2016-01-28 18:23] staalmannen commented on #20
very interesting. thanks (unfortunately too busy to play atm)

[2016-01-28 20:42] stfairy opened #51 "Run two instances of LKL in a same process"
It seems impossible at the moment to run two instances of LKL (e.g. two separate calls to `lkl_start_kernel` etc.) in a same process.  Any idea how to do that easily?

[2016-01-29 00:00] opurdila commented on #51
I think that is caused by global variables (in both the LKL code and the core kernel code). I am not sure if we can fix that.

What use case do you have in mind for this, maybe we can use an alternate approach?

[2016-01-29 00:09] stfairy commented on #51
My immediate use case is to run two LKL side by side in two threads of a single process, and exchange packets between them without host kernel intervention.

In the long run, I think it might be good if users can have an arbitrary number of instances, since LKL is a "library".

[2016-01-29 00:29] thehajime commented on #51
We're using ```dlmopen(3)``` (not dlopen(3)) in the ns-3 simulator integration to host multiple instances of libos kernel (not LKL's one).

related code is [available](https://github.com/direct-code-execution/ns-3-dce/blob/master/model/dlm-loader-factory.cc#L93) though I don't see an immediate answer for the usecase with LKL.

@stfairy, in your usecase, are you running multiple (virtual) hosts in

[2016-01-29 02:24] stfairy commented on #51
@thehajime Yes, thanks for the pointer.  I'll take a look.

[2016-01-29 21:02] pscollins opened #54 "Why does hijack accept non-LKL fds?"
Is there a good usecase for this? It seems to me like giving a host fd to LKL is going to be programmer error 99.9% of the time, and passing it along silently to the host will generally hide the error until someone tries to mix the two together down the line. It would be nice to have an assertion fire off and fail loudly to make it clear that something has gone wrong.

Is the pass-to-host behavior

[2016-01-29 23:52] thehajime commented on #54
there are a couple of use cases.

- if an application opens a socket but also open a file (like stdin and stdout), the lib should distinguish and dispatch them
- if liblkl{.a,.so} (or linked library) uses system calls and linked with libhijack, then libhijack should treat those system calls goes to the host calls. virtio network backend (currently only with tap) required such a behavior
 - the tap

[2016-02-01 11:13] #48 closed

[2016-02-01 19:49] pscollins commented on #54
Got it, very helpful explanation, thanks!

[2016-02-02 04:03] alex opened #58 "Ability to call into kernel's x.509 parsing functions"
I'm very excited by `lkl` for a project I"m working on, however I need access to the kernel's x509 functions, specifically `x509_cert_parse` (https://github.com/torvalds/linux/blob/master/crypto/asymmetric_keys/x509_cert_parser.c#L68).

However, I don't see this in `strings lkl.o`. I'd be great if this could be added! Not sure if that's just a matter of adjusting the `.config` or if more work is i

[2016-02-02 04:19] thehajime commented on #58
hi @alex,

see the related discussion in #17.
currently lkl only exposes symbols for _lkl system calls_ and the rest of symbols marked as private ones. so its not a matter of ```.config```.

[2016-02-02 04:25] alex commented on #58
My interest is primarily in fuzzing of various linux kernel APIs, which are not exposed as syscalls. Is it reasonable to want to use lkl for this, or is it outside your goals?

[2016-02-02 04:59] thehajime commented on #58
I'm on the side where symbols in liblkl.so should be exposed (while @tavip not) :)
this is still under discussion.

I believe fuzz testing is definitely in the lkl's scope.
if you would like to try to call the function, you may need to expose it with a proper prefix to all exposed symbols in order to conflict with outside of lkl (something like https://github.com/libos-nuse/net-next-nuse/commit/75

[2016-02-02 19:14] pscollins commented on #58
For now, the thing to do might be to add the symbols you're interested in to `LKL_ENTRY_POINTS` in `arch/lkl/Makefile` and make sure the appropriate `.config` options are turned on. I couldn't get that particular symbol to show because it involves chasing down `.config` options to make sure that the x509 stuff is built, but for e.g. `zlib_deflate`, adding it to `LKL_ENTRY_POINTS` makes it show up

[2016-02-03 15:53] docbrown opened #59 "Android ARM support"
I would like to use LKL in an Android app, so I added `elf32-littlearm` as a supported POSIX output format in the Makefiles and attempted to build with a standalone `arm-linux-androideabi` toolchain, but I get this:

[code]

I'm not a kernel developer at all, so I don't really know where to go from here.

[2016-02-03 17:19] opurdila commented on #59
Hi David,

Thanks for reporting the issue. I'll try to debug this in the next couple of days but can you please share the changes you made to the build system?

Thanks,
Tavi

[2016-02-03 18:25] docbrown commented on #59
Here's a diff of my changes:

    diff --git a/arch/lkl/Makefile b/arch/lkl/Makefile
    index cd4ae2a..9fe481a 100644
    --- a/arch/lkl/Makefile
    +++ b/arch/lkl/Makefile
    @@ -2,7 +2,7 @@ include arch/lkl/auto.conf

     KBUILD_CFLAGS += -fno-builtin

    -ifneq (,$(filter $(OUTPUT_FORMAT),elf64-x86-64 elf64-x86-64-freebsd))
    +ifneq (,$(filter $(OUTPUT_FORMAT),elf32-littlearm elf64-x86-6

[2016-02-03 19:09] pscollins commented on #59
It looks like that `typedef` is not getting compiled (tools/lkl/include/lkl/asm-generic/signal-defs.h after a build):

[code]

No idea why the ARM toolchain is defining `__ASSEMBLY__` in different places, though.

[2016-02-03 19:15] stfairy commented on #59
I've seen similar errors when integrating LKL with some existing app.  `#include <lkl.h>` after things like `#include <signal.h>` triggered that error.

[2016-02-03 19:19] rmmh opened #60 "lklfuse utimens incorrectly follows symlinks"
lklfuse_utimens doesn't call utimensat with the AT_SYMLINK_NOFOLLOW flag.

This makes untar fail if it extracts a symlink before its target and attempts to set the mtime. lklfuse will follow the broken link and return ENOENT.

Upper layers translate utimensat on a symlink to the link or the target depending on the flags before calling utimens on the VFS, which is why FUSE does not receive the flag

[2016-02-04 00:57] pscollins opened #62 "What's the intended use of LKL_HIJACK_NET_GATEWAY?"
I'm having some problems getting passive open TCP connections to work on LKL. It looks like LKL_HIJACK_NET_GATEWAY might be the ticket for getting routing info to the LKL kernel, but I can't figure out how to use it --- am I supposed to hijack a device from the host kernel? The TAP device in the LKL kernel? Something else? Would it be possible to give a usage example/testcase (to go in tests/hijac

[2016-02-04 02:53] thehajime commented on #62
as you guess, LKL_HIJACK_NET_GATEWAY is used to configure route info of LKL stack. just do like ```ip route add default```; no tap device specific and no relations to host kernel device.

(crafted from tests/hijack-test.sh, not tested yet)

[code]

as you can see, **LKL_HIJACK_NET_GATEWAY=192.168.13.254** is the key part.

[2016-02-04 06:55] stfairy commented on #62
Is your example assuming that the LKL and the host are on the same network?  What if I only want the LKL to be able to talk to the host?  For example the host may have eth0 IP 10.x.x.x while LKL is 192.168.13.x.

[2016-02-04 10:33] tommie-lie commented on #62
If you just want LKL to be able to talk to the host, the easiest (and to some extent unclean) way is shown in the `tools/lkl/tests/hijack-test.sh`: Create a tap device (in the host) and set it up to be in the same network as you configure LKL. Then you don't need a gateway at all (as the machines are in the same network) and you can communicate between host and LKL directly without problems. The h

[2016-02-04 15:00] #54 closed

[2016-02-04 16:13] opurdila commented on #59
The problem is that host includes do things like

#define sa_handler _u._sa_handler

and sa_handler is a member in a Linux/LKL structure and gets replaces by the above macro.

The way I fixed these was to #undef them before including LKL headers, but in this case <sys/signal.h> is pulled from <stdint.h> which is pulled from lkl/linux/virtio_ring.h.

I am going to try and define these in arch/lkl/i

[2016-02-04 18:47] opurdila commented on #60
Fixed in b8b21e562c474b560f841e7764661cd8de260caf, thanks for the detail report @rmmh

[2016-02-04 18:47] #60 closed

[2016-02-05 02:43] docbrown opened #63 "Loadable kernel modules"
Is it possible to support loadable kernel modules in LKL and, if so, what would it take to get that working? I would like to create a USB host controller driver that delegates to the host system's USB API and it would be great if I could test it without rebuilding and redeploying my entire application every time.

[2016-02-05 16:36] docbrown commented on #63
I got a chance to look at this a little deeper and it appears the module loading code is pretty architecture-specific. Relocations have to be done differently depending on which architecture the ELF module was built for. I guess it will be easier to just build the driver along with the kernel.

[2016-02-05 18:36] pscollins commented on #62
Okay, thanks! The issue I was having was that I was running `netserver` under LKL and I couldn't get a `netperf` instance on the host to talk to it. I was able to get it connected after messing with the routing table to stop the host kernel from trying to go through `lo` and then changing `LKL_HIJACK_NET_NETMASK_LEN` so that the host and LKL were on the same subnet. I'm having an issue now with LK

[2016-02-05 18:36] #62 closed

[2016-02-06 00:02] pscollins opened #64 "netserver hangs under TCP_STREAM test"
I'm running `netserver` and `netperf` (version 2.7.0, built from the source on netperf's site) as follows:

[code]

The test runs fine for a while, but it eventually says:

[code]

and hangs forever. `tcpdump` on the interface shows that packets go back and forth normally until LKL stops ack-ing part way through, the sender retries a few times, then starts sending out ARP requests to find out wher

[2016-02-06 01:05] stfairy commented on #64
Patrick, I noticed that the client side (i.e. netperf) is not run under taskset.

I was able to reproduce virtio_net error reliably without taskset.  So I think it's probably a synchronization issue.

[2016-02-06 01:16] pscollins commented on #64
I get the same behavior using the following for the client:

[code]

Also, I've stuck some print statements to grab syscall numbers from under LKL, and I see the same syscalls are run at the beginning of both of the test types (definitions are in tools/lkl/include/lkl/asm-generic/unistd.h):

[code]

so it seems like the state of the LKL kernel in each case is probably similar (I was worried that t

[2016-02-06 01:27] alex opened #66 "error: too few arguments to function ‘lkl_trigger_irq’"
[code]

[2016-02-06 04:01] pscollins commented on #66
Try to `make clean` your installation and rebuild? The signature of `lkl_trigger_irq` was changed in 3b79e705ebcf2678682b4ca0eec5bcce31ba2ee8.

[2016-02-06 04:37] #66 closed

[2016-02-06 14:15] thehajime commented on #64
i'm going to look detail in my machine in my spare time (not likely soon).

[2016-02-08 21:11] pscollins opened #68 "Valgrind can't be used on `LKL_HIJACK_NET_TAP` runs"
Valgrind runs code in `LD_PRELOAD` twice for any process it is used on, so it can't be used as-is for checking memory access in hijacked executables that need to use TAP devices. The first execution starts up the LKL kernel and takes control of the TAP device, and then the second execution errors out because the device is already in use.

As a heads up to anyone else trying to track down memory er

[2016-02-09 03:10] alex opened #71 "undefined symbol: timer_create"
In my attempt to fuzz the kernel X.509 API (#58), I've ran into an interesting bug. I'm using the following patch:

[code]

And it all compiles ok, but when I try to load `liblkl.so`, no bueno:

[code]

Here's the complete build log:
[build.log.txt](https://github.com/lkl/linux/files/122532/build.log.txt)

[2016-02-09 09:19] tommie-lie commented on #71
liblkl.so depends on some other libraries for its host-specific stuff, in your case it needs librt.
The way liblkl.so is currently build does not include these dependencies, they are only added for liblkl-hijack.so. If you want to use liblkl.so independently, you have to link with -lrt -lpthread and probably -ldl. Just add those to [line 55](https://github.com/lkl/linux/blob/master/tools/lkl/Makef

[2016-02-09 10:18] opurdila commented on #59
I just pushed a few changes that makes LKL compile with the arm-linux-androideabi- toolchain. However, when trying the test/boot on Android emulator (KitKat) I get a seg fault. I will continue to look into this.

[2016-02-09 13:27] alex commented on #71
Ahh, I didn't realize that `liblkl-hijack.so` was the right entrypoint:

[code]

Thanks!

[2016-02-09 13:27] #71 closed

[2016-02-10 18:37] tommie-lie opened #72 "LKL does not support SMP/reentrant syscalls"
I'm currently writing an application using LKL that waits for data on a network socket using a blocking call to `read()` and occasionally `write()`s data from another application thread. Once the `read()` syscall has been issued, no `write()`s can be performed until the socket receives some data and returns from the `read()`.
While in theory I could use `select()` or `poll()` here because the data

[2016-02-10 20:01] opurdila commented on #72
Hi Thomas,

We don't necessarily need full SMP in LKL for this use-case, just the ability to issue multiple (blocking) syscalls. I have something in the backlog, may have it ready in a couple of days.

Thanks,
Tavi.

[2016-02-10 20:05] pscollins commented on #72
@tommie-lie Would it be close enough to use nonblocking `read`/`write` and spin in an event loop? You can `read` and `write` to a mixture of LKL fds and host FDs, it's just not allowed to mix them in a single call.

[2016-02-10 20:20] tommie-lie commented on #72
@opurdila Sounds great! I already looked into `arch/lkl/kernel/syscall.c` and did not find an _easy_ way to do that without spawning a new kernel thread for each syscall because the call that really blocks is `task_work_run()`. That's why I did not provide a patch in the first place. Let me know if I can be of any help!

@pscollins Yes, that's basically what I'm doing now, but it would be nice if

[2016-02-10 22:05] pscollins commented on #16
@tavip @opurdila How did you cause this, exactly? I suspect it comes from the same virtio issue as #64, which I've been trying to track down for the past few days --- it would be nice to have an additional testcase. Is this supposed to be run under `lkl-hijack.sh`? I get:

    Unknown class: 'filesystem', available classes: cpu cpu-cache io interrupt memory network os scheduler vm

when I try to r

[2016-02-10 22:58] opurdila commented on #16
IIRC you need a higher version, I've compiled the latest one instead of using the one installed on the system.

[2016-02-20 00:41] phhusson opened #78 "Header generation lkl/linux/if.h's net_device_flags"
In generated lkl/linux/if.h, the net_device_flags enum is defined and used
It should be renamed to lkl_net_device_flags
enum's values are properly renamed, only the name of the enum itself is not renamed
This leads to build error when including host and lkl's include

After grepping, it is the case for all named enums.

[2016-02-20 00:50] phhusson commented on #78
Here is a aptch which seems to work:
http://pastebin.com/nUKdSZYs
I had to fix comment-remover regexp, it comes from http://stackoverflow.com/questions/16160190/regular-expression-to-find-c-style-block-comments

[2016-02-20 01:03] phhusson commented on #72
I'm also having this issue, and I'm interestsed in any progress

[2016-02-20 01:19] stfairy commented on #72
@opurdila I'm also very interested in this and if there's anything that I can help, please let me know.  Thanks!

[2016-02-20 01:27] stfairy opened #79 "Is LKL being used somewhere for production use?"
The work seems to have last for a few years.  So I wonder if there is someone already using it in some real-world products.  If there's any, we might want to create a wiki page listing them?

[2016-02-20 02:08] opurdila commented on #72
It is almost ready I just need to clean it up but due to traveling I did not get a chance to do it. If I don't get a chance to finish it tonight I will push it in a temporary branch so you guys can have a look.

[2016-02-20 02:08] opurdila commented on #72
It is almost ready I just need to clean it up but due to traveling I did not get a chance to do it. If I don't get a chance to finish it tonight I will push it in a temporary branch so you guys can have a look.

[2016-02-20 10:55] tommie-lie commented on #79
Depends on how you define "productive". I am working on an emulation framework project for long-term preservation of software (for examples, see <http://eaas.uni-freiburg.de/demos.html>). For web preservation it would be nice to have old browsers (that still support blink, for instance) or to preserve a whole web application without having to crawl the passive HTML/JS code like current web archivi

[2016-02-20 17:27] #78 closed

[2016-02-22 18:25] pscollins commented on #64
I have a fix for this that relies on #74, #75 and #77 --- once those go through I'll send a PR. The issue here is basically that there's a path for threads to enter `virtio_process_queue` via `virtio_write`, which avoids the synchronization in `net_poll`.

[2016-02-23 00:12] thehajime commented on #64
great ! I've tried to spot this for a while but didn't get it..
I will review them (and hopefully @opurdila too).

[2016-02-23 00:28] pscollins commented on #64
@thehajime Great, thank you!

[2016-02-23 06:19] thehajime commented on #59
I will try to add a circle ci instance for the particular target.

[2016-02-23 06:25] opurdila commented on #72
@tommie-lie can you please take a look at PR #86?

[2016-02-23 06:28] opurdila commented on #6
Fixed in 8ebe11e77f0c0da90168e4c85f2d4415eb32d8a9

[2016-02-23 06:28] #6 closed

[2016-02-23 10:49] tommie-lie commented on #72
On first look, it looks like it could do the trick. I have a deadline to meet next monday, so I can't have a through look at it or experiment with it in my application right now. Sorry :-( But I definitely will try it out next week!

[2016-02-23 13:03] phhusson commented on #72
I've tested it, and after a quick test it works for me, thanks !
FIY, my use case is to exchange between lkl's network stack and host network stack, using epoll.

Only thing that you don't mention explicitly, is that lkl_create_syscall_thread must be called without having another blocking syscall running, which might be tricky for some cases. (though it's fine for me)

[2016-02-23 13:12] thehajime commented on #72
@phhusson it would be great if you could provide your test case for an additional test of #86.

[2016-02-23 14:51] phhusson commented on #59
It also segfaults here using 5.1 NDK/5.1 device.
I tried building it with -fno-PIC -fno-PIE but it doesn't help.
It looks like a relocation error: the stack trace shows access to 0x701c8c, which sounds too low to be real.
This address is in .debug_info section.
If I try to dump assembly of lkl.o, the debug informations are totally wrong. It is quoting code from exit section, while it is in init se

[2016-02-23 17:54] pscollins commented on #59
@phhusson Where in the initialization process does it segfault? I know @stfairy dealt with a linker bug in `gold` at one point, conceivably it's related.

[2016-02-23 19:28] phhusson commented on #59
#0  0x001cefe4 in vsnprintf (buf=0x3e0 <exit_nls_cp866+8> <Address 0x3e0 out of bounds>, size=0, fmt=0xffffffff <Address 0xffffffff out of bounds>, args=...) at lib/vsprintf.c:1877
#1  0x001cf88c in vscnprintf (buf=0x4853cc <textbuf.31283> "", size=992, fmt=0x701c8c <Address 0x701c8c out of bounds>, args=...) at lib/vsprintf.c:2027
#2  0x000366fc in vprintk_emit (facility=0, level=-1, dict=0x0, di

[2016-02-23 19:33] pscollins commented on #59
Yes, this is the same bug, it's a problem in the linker. As a workaround you might want to try commenting out that line (IIRC it's printing a startup message), or [switching to a different linker](http://stackoverflow.com/questions/30621745/how-to-enable-gold-linker). @stfairy can probably say more.

[2016-02-23 20:39] phhusson commented on #59
Yes it's printing a startup message, but it most likely means there are other problems.
Though adding a static int v=0; static int w=1; const int x=1; and accessing them didn't seem to crash.

I added -fuse-ld=bfd, and it didn't change a thing?!? (the file size is the same and I still have got the same crash)
I built with V=1 and tried to build with --threads, and I'm really sure I was linking wit

[2016-02-23 20:51] stfairy commented on #59
I have a fix at hand but I still don't fully understand it.  My best guess is that `gold` doesn't work well with linker scripts containing multiple input sections for an output section.

The fix is binutils-2.24/gold/object.cc around L2320: `os->output_address()` returns a virtual address, while what we actually want is an offset starting from the `.rodata` section.  So we need to subtract that, m

[2016-02-23 22:14] opurdila commented on #72
Fixed in #86

[2016-02-23 22:14] #72 closed

[2016-02-23 22:50] #64 closed

[2016-02-26 00:36] thehajime opened #94 "document for environmental variables in Documentation/lkl.txt"
raised during #90.

at lease at the moment, we have the following configurable environmental variable.
[code]

and with #90,

[code]

and with #67,

[code]

[2016-02-26 11:28] cpriebe opened #96 "Correct usage of LKL system call API"
Hi everyone,

I have a question regarding the correct usage of the LKL system call API. I ran into a problem when running an application linked against musl-libc on top of lkl on my x86_64 system. Using the `stat` system call (via the musl libc wrapper function) "fails", because there is a mismatch between the definition of `struct stat` used in my application code and the one used by lkl. When th

[2016-02-26 12:01] #94 closed

[2016-02-26 13:47] opurdila commented on #96
Hi @cpriebe ,

I don't know how musl, the application and lkl interact, so I may not have a good answer for you.

In general, you should use lkl_ prefixed version for all system calls datatypes. In this case, struct lkl_stat. See test_fstat in tools/lkl/test/boot.c or the other examples in fs2tar.c or lklfuse.c

Thanks,
Tavi

[2016-02-26 23:00] #36 closed

[2016-02-27 00:09] phhusson opened #98 "Wider Kconfig?"
I need wider support of drivers in LKL.
I changed my arch/lkl/Kconfig to add SCSI, input, USB, TTY and to drop NO_DMA
FIY, the associated usecase is to have a userspace usbip client.
I implemented trivial dma_map_ops, which only trigger a warning when called. (perhaps it would be better to even panic())

This is enough to have mass-storage/serial port/... over usbip working.
The usecase would be t

[2016-02-27 00:39] phhusson commented on #98
FIY, here is my quick&dirty poc:
https://github.com/phhusson/linux/commit/62a81252681e65d3da9a856b58172f2c73fdf78e

[2016-02-27 01:49] thehajime commented on #98
cool !

i was wondering if the following code is working on android. on x86 ?

I think it makes sense to add more defconfig option. only a concern is the result of execution time like some fs code introduced during the boot. but if this is reasonable time, it would be fine.

[2016-02-27 07:37] wrouesnel opened #99 "Extending libhijack to support filesystem image operations?"
Looking at `fs2tar` I'm very much interested in doing the reverse operation - untarring into a filesystem image.

While the thought crosses my mind to port `tar` to link LKL, it seems like what I want could also be accomplished by having a binary which wraps the syscalls to write files to LKL initialized with an existing filesystem.

Has any such work already been done (or does it suffer an obviou

[2016-02-27 12:17] phhusson commented on #98
It's not yet working on Android, I still have many things left to do before testing on Android.

[2016-02-27 13:29] opurdila commented on #98
@phhusson Cool stuff !

If we can source drivers/Kconfig and still get the tests to pass I think we can do that. There were some issue when I tried to do that, probably the DMA stuff.

[2016-02-27 14:50] cee1 commented on #79
Another question about "production use": under what license LKL is distributed? E.g. if an application link s against LKL, does it have to be open sourced?

[2016-02-27 17:10] opurdila commented on #79
GPLv2 as the Linux kernel.

[2016-02-27 17:13] opurdila commented on #99
Did you try lklfuse?

[2016-02-28 01:15] pscollins commented on #99
@wrouesnel The trick is figuring out when you want `open(2)` calls to be forwarded to the host filesystem and when you want them to go inside LKL, since you only have a path (sometimes absolute, sometimes relative) to work with. I suspect hijacking all `open` calls would end up breaking a lot of programs out of the box, or make them behave unexpectedly (e.g. your logs would end up being written to

[2016-02-28 01:19] wrouesnel commented on #99
Well I'm specifically wanting to untar an FS backup into a filesystem image, but was looking to mostly preserve tar's syntax (i.e. not just rewrite tar).

But a little exploration does make it seem like it'd be easier to just do some find/replacing in tar's source tree rather then reverse engineering it's syscall's just now - you definitely run into trouble when you need to distinguish interesting

[2016-02-28 01:53] thehajime commented on #99
I've been working on musl libc support for arch lkl in my local repo. Though it's still not done yet but let you know once it gets the shape.

With that I believe it makes sense a lot.

[2016-02-28 04:40] ngkaho1234 opened #100 "fd_get_capacity() fails to detect file size of large files on 32bit platforms."
It is due to _FILE_OFFSET_BITS=64 not being set when building liblkl.

My temporary solution is to add -D_FILE_OFFSET_BITS=64 to CFLAGS.

[2016-02-28 05:01] ngkaho1234 commented on #100
https://github.com/ngkaho1234/linux/commit/d0507d4966d7c0c4aff64db9dd524bd72faab76d

If the temporary fix looks fine, i may open a pull request for it.

[2016-02-28 05:31] cee1 commented on #79
OK, that means any program link against LKL __directly__ have to be open sourced, right?

But considering Proprietary modules: how can they link the kernel, e.g. using the memcpy() symbol, without opening source code? The answer is here: http://stackoverflow.com/questions/2721290/propietary-modules-within-gpl-and-bsd-kernels

So, generally, I think LKL can be used in Proprietary products in the sa

[2016-02-28 11:53] opurdila commented on #99
@wrouesnel I believe it is easier to just create a wrapper script on top on lklfuse:

lklfuse fsimage /mnt/dir
tar xf file.tar /mnt/dir
fuseumount -f /mnt/dir

[2016-02-28 12:05] opurdila commented on #100
I believe adding "CFLAGS_posix-host.o += -D_FILE_OFFSET_BITS=64" to tools/lkl/lib/Build should work as well, could you give it a try? And of course a PR to fix it is more then welcomed :) Thank you!

[2016-02-28 14:11] ngkaho1234 commented on #100
Thanks for pointing that out. Now it works flawlessly. :-) I am going to make a PR for that.

[2016-02-28 14:26] ngkaho1234 commented on #100
#101

[2016-02-28 14:35] #100 closed

[2016-02-28 23:07] phhusson commented on #98
Ok so I did some tests, actually the only problem is with VGA console being enabled by default.
It doesn't seem to incur any additional boot time.
So I pushed PR #102

[2016-02-28 23:38] phhusson opened #103 "Target for defconfig boot time?"
Is there a target for boot time of defconfig's kernel?
The kernel can boot in 16ms on my computer by disabling btrfs .
Enabling btrfs make it go to >500ms, because of RAID6 and XOR benchmarking
I think that defconfig should be as fast as possible.
I understand that cptofs/fs2tar are currently main examples of LKL so the choice is not easy.

I see three options:
- leave as-is
- fix/workaround raid6

[2016-02-29 06:19] staalmannen opened #105 "patched mingw binutils?"
Dear all,

Is there a patched source tarball or git branch somewhere available where the "Weak NT externals" patch has been applied already in order to build lkl with MinGW?

I always get errors when I try to apply the patches (perhaps formatting issues from copying from browser, perhaps wrong target binutils source....)

[2016-02-29 06:23] staalmannen commented on #18
circleci broke again after I updated to the latest master sources. It should work however.

[2016-02-29 06:24] #20 closed

[2016-02-29 06:26] ngkaho1234 commented on #105
Hello. You may trim out all the ChangeLog changes in the three patches.

[2016-02-29 09:19] staalmannen commented on #105
Thanks! This seems to work (building atm)

[2016-02-29 10:47] #98 closed

[2016-02-29 12:44] staalmannen commented on #105
I just got a linking issue after building with MinGW with the patched binutils:

`
  LD       lib/lkl-in.o
  LINK     liblkl.dll
  AR       liblkl.a
/usr/lib/gcc/i686-w64-mingw32/5.3.0/../../../../i686-w64-mingw32/lib/../lib/libmingw32.a(lib32_libmingw32_a-crt0_c.o): In function `main':
/build/mingw-w64-crt/src/mingw-w64-v4.0.5/mingw-w64-crt/crt/crt0_c.c:18: undefined reference to `WinMain@16'
col

[2016-02-29 13:03] ngkaho1234 opened #106 "Compilation failed after merging commit 51f0f7f"
Dump: https://clbin.com/6CS35
Toolchain: x86_64-unknown-linux-gnu
Command: cd tools/lkl; make

[2016-02-29 13:04] ngkaho1234 commented on #106
https://clbin.com/6CS35

[2016-02-29 13:28] ngkaho1234 commented on #106
ok. Adding CONFIG_VGA_CONSOLE=n to arch/lkl/defconfig solves the problem.

[2016-02-29 13:54] ngkaho1234 commented on #106
CONFIG_DUMMY_CONSOLE=y is also required.

[2016-02-29 14:33] ngkaho1234 commented on #105
http://filebin.ca/2Ye1zfSVz4L2/patch1
http://filebin.ca/2Ye2H9TouSpc/patch2
http://filebin.ca/2Ye2Shhy5kNf/patch3

I have uploaded the patches i use.

[2016-02-29 14:34] ngkaho1234 commented on #105
I rebuild binutils-2.26 with these patches.

[2016-02-29 15:42] ngkaho1234 commented on #106
https://github.com/lkl/linux/pull/107

[2016-02-29 21:34] pscollins opened #108 "Kconfig throws errors"
I see the following when trying to compile:

[code]

Is this harmless, or does it matter?

[2016-03-01 12:51] opurdila commented on #108
It looks harmless, but we should fix it nonetheless.

I think it was introduced when we pulled in the whole drivers/Kconfig. @phhusson is there something that I forgot to merge?

[2016-03-01 16:00] opurdila commented on #105
This is strange. Can you please check with the binaries stored in git to make sure its not a local problem?

Also, what is your host environment?

[2016-03-01 16:25] staalmannen commented on #105
I also thought it looked strange,because a library should not contain a main() function.

My host environment is 64-bit Arch linux. I have packaged  the following packages for building lkl on AUR:

for GCC on Linux
https://aur.archlinux.org/packages/lkl-linux-git/

for MinGW:
https://aur.archlinux.org/packages/mingw-w64-binutils-weak/
https://aur.archlinux.org/packages/mingw-w64-lkl-linux-git/

Ri

[2016-03-01 16:34] ngkaho1234 commented on #105
On windows you may need to turn on case-insensitive feature.

[2016-03-01 17:25] phhusson commented on #108
Hum no, I hadn't noticed this.
Trying to fix it raises many other such problems (next one is about VGA_CONSOLE)

The thing is that it says "depends on", but it's rather "depends on NOT" which actually breaks the loop rather than propagating it, so it sounds like a false positive to me

[2016-03-01 18:17] pscollins commented on #103
I agree, personally, the raid6 setup is *very* slow; better to have a fast default startup and let users turn it back on if they need it. Maybe add a section to the README of "config flags known to work well with LKL" or something like that.

[2016-03-06 17:51] ngkaho1234 opened #117 "lkl_syscall() passes corrupted parameter to sys_xxx()"
On non-64bit platforms, passing 64bit parameters will lead to parameter corruptions.
						         long params[6] = { __MAP(x, __SC_LONG, __VA_ARGS__) };  (That code on 32bit platform will likely pass garbage to the corresponding syscall routine that ingest long long parameter, while the higher part of the value is very likely to be dropped.)

I managed to solve the problem <https://github.com/ng

[2016-03-06 17:52] ngkaho1234 commented on #117
Hopefully other people may come up with a better method to fix the bug.

[2016-03-07 05:46] thehajime commented on #59
now you will see a (the?) seg fault in circleci.

https://circleci.com/gh/lkl/linux/328

I again disabled 3rd instance for anrdoid build and test until we will be ready.

[2016-03-07 09:29] #106 closed

[2016-03-07 18:17] opurdila commented on #117
One option is to do something similar to arch/x86/ia32/sys_ia32.c  I'll give it more thought.

[2016-03-08 17:04] ngkaho1234 commented on #117
@opurdila Hello. I have made some changes base on that idea. You may want to take a look at https://github.com/ngkaho1234/linux/commit/50cd5154624e89c995a1c99ea4d545d45ccec989. That method is portable to platforms other than x86(-64).

[2016-03-08 18:45] ngkaho1234 commented on #117
@opurdila just did some cleanups. If everything looks fine, i will start a PR.

[2016-03-08 18:45] #117 closed

[2016-03-08 18:54] opurdila commented on #117
@ngkaho1234 It looks very promising. Just finished reviewing the full patch and left some comments. Thank you for working on this !

[2016-03-10 05:06] staalmannen opened #121 "[question] LKL vs DDEKit"
.... perhaps something to add to the FAQ in the lkl.txt?

DDEKit seems to have some overlapping interests with LKL when it comes to building native drivers for other kernels with a "glue" layer. As far as I know, they implemented L4 kernel and Hurd kernel targets. As far as I know, the only users are the GenodeOS project and Hurd, and both seem to move towards Rump kernels instead. It is very hard

[2016-03-10 14:20] staalmannen commented on #105
Msys2 just accepted a pull request for the weak externals patches  for binutils!

https://github.com/Alexpux/MSYS2-packages/commit/570ba5e019db1a82d7c396f92284266ed19a5126

so from now on (or when the build server updates the binary packages), one should be able to install the binutils binary in msys2 and compile lkl out-of-the-box :)

[2016-03-10 14:56] opurdila commented on #105
Nice work !

[2016-03-10 17:50] #105 closed

[2016-03-10 22:43] thehajime commented on #18
i didn't check it but maybe ?
https://github.com/linuxmint/mintsources/issues/47

[2016-03-11 18:20] pscollins commented on #108
@phhusson Yes, definitely. Surprisingly, I can't find any other examples of this kind of issue, so I'm not sure what the normal way to address it is.

Would it be worth removing some of the "negative dependencies" for the sake of quieting down the error message? The following builds with no warnings (other than invalid range):

    depends on !SMP && !MMU && !COREDUMP && !SECCOMP && !UPROBES && !C

[2016-03-11 18:32] phhusson commented on #108
My guess would be that there are options that must be ticked, and some that must NOT be ticked, which is already done by defconfig
So having negative dependencies for that is useless if it can be expressed in defconfig

[2016-03-15 05:04] #18 closed

[2016-03-17 11:29] subhrajitbiswal opened #133 "Client-Server program is not working when both sides are using LKL."
Client-Server program is not working when both sides are using LKL. But its working when only one side is LKL. Please find the logs for working case (only client side is using LKL here) below.

Steps to reproduce the issue:
=======================
I have 2 simple program. one is server (it will read the input file and send it to port 9600) and one is client (it will connect to the server by giving

[2016-03-17 14:56] pscollins commented on #133
How does it fail?
On Mar 17, 2016 4:29 AM, "subhrajitbiswal" <notifications@github.com> wrote:

[2016-03-17 16:15] liuyuan10 commented on #133
I've done the same thing (both server & client are lkl based) but not hijacked, i.e. I'm using the lkl sockets directly. And it works for me.

Are you using only one tap? can you try having two taps and build a bridge between them?

[2016-03-17 16:40] pscollins opened #134 "Nondeterministic failures on CircleCI under Windows"
Opening this up to track the issue that came up in #126 --- it seems that sometimes on Windows there is a deadlock during `test_syscall_thread` in `tools/lkl/tests/boot.c`.

[2016-03-18 05:16] subhrajitbiswal commented on #133
HI Yuan Liu,

    I have one tap in server and one tap in client. Do i need 2 tap interfaces in both server and client?
Can you tell me the steps and commands how you verified it ? How you used the lkl sockets directly ?
Not hijacked means you are not using (./lkl-hijack.sh).

  Please send me the commands and output of server and client.

[2016-03-18 05:20] subhrajitbiswal commented on #133
Hi Patrick,

  The  logs below for one side LKL (only client). If I use both side LKL, it fails.

Thanks,
Subhrajit

From: Patrick Collins [mailto:notifications@github.com]
Sent: Thursday, March 17, 2016 8:27 PM
To: lkl/linux
Cc: Subhrajit Biswal
Subject: Re: [linux] Client-Server program is not working when both sides are using LKL. (#133)

How does it fail?
On Mar 17, 2016 4:29 AM, "subhrajitbis

[2016-03-18 06:32] stfairy opened #137 "Stack trace in WARN_UNLESS"
It would be nice if a stack trace can be printed in WARN_UNLESS so it's easier to identify the code path that's triggering that warning.

Can we reuse dump_trace in kernel code?

[2016-03-18 16:29] liuyuan10 commented on #133
I realised you probably are running server and client on two machines.
What I did was running them on the  same machine. one tap each and bridge between the two taps. Maybe you can firstly try to see if this works for your case, i.e. running your server/client on the same machine. If it works, then it means you are using the lkl correctly.

Next, you might want to use tcpdump to see how the traffi

[2016-03-18 16:39] pscollins commented on #133
I'm not totally clear what error you're getting, but if the "good side" is when you have LKL on the client and host on the server, I'd bet it's an issue with your routing tables --- you need to fiddle with the routing tables a bit to be able to get the host to see an LKL client.

When you add the TAP device (say `lkl_ptt0`) at some address (say 192.168.13.3), the host kernel decides that anything

[2016-03-21 12:58] subhrajitbiswal commented on #133
Hi Yuan,
  Its working fine when both server and client are running in same machine with both side LKL.
i created 2 TAP interfaces and bridged them. lkl_ptt0  with ip 172.27.10.2 and lkl_ptt1 with ip 172.27.10.4.. I used the hijacking. Can u pls tell me how you did it using LKL socket directly without hijacking ?

server:
root@ICSCHELAP0027:/home/hadmin/linux/tools/lkl/bin# LKL_HIJACK_NET_TAP=lkl_

[2016-03-21 13:54] thehajime commented on #133
the following test program uses socket without hijacking.  hope it helps.

https://github.com/lkl/linux/blob/master/tools/lkl/tests/net-test.c

for the issue of different machines, could you collect a packet trace (e.g. tcpdump) and share it here ?

[2016-03-21 17:06] liuyuan10 commented on #133
Please refer to "test_icmp" case in the code thehajime gives. It's just replacing all sys calls (socket, open..) with lkl sys calls (lkl_sys_socket, lkl_sys_open).

In your case, the path of a packet from client to lkl server is:
client lkl virtio -> host tap -> (through bridge) host physical dev -> wire -> server host physical dev -> host tap -> server lkl virtio.

You can use tcpdump on server h

[2016-03-22 11:01] subhrajitbiswal commented on #133
Thanks Yuan and Hajime, its working now for  2 different machines.
Are there any lkl sys calls for bind,listen, accept like lkl_sys_socket for socket ? Where are the definition available for lkl sys calls ?

[2016-03-22 11:37] opurdila opened #139 "Host cleanup infrastructure"
We need a mechanism that allows the host to register cleanup functions to be called at the moment the kernel is shutdown. One example is the cleanup we need to do for net virtio, where currently we use an external function reference.

[2016-03-22 16:49] liuyuan10 commented on #133
Take a look at tools/lkl/include/lkl/asm/syscall_defs.h. Most sys calls has a lkl counterpart by default config.

How do you make it work? It may save others a bit time

[2016-03-22 18:42] pscollins commented on #139
I was thinking something similar while writing #135. One thing to consider, though --- how many things will we need to clean up? I can't think of anything other than `virtio_net` devices and `virtio_blk` devices, and this seems like a big change for the sake of those two functions.

[2016-03-23 09:08] subhrajitbiswal commented on #133
Hi Yuan,
I created one TAP interface (172.27.10.1) in server (172.27.10.27) and bridged it with physical interface .
Similarly one TAP interface (172.27.10.2) in client (172.27.10.24) and bridged it with physical interface.
I used the following  commands for client and server. it worked fine.
May be i missed some configuration or gave some wrong ip when i tried first time.

client log:
root@ICSCHE

[2016-03-23 10:10] opurdila commented on #133
Great, it seemed it was a configuration issue, so it looks like I can close this issue now.

[2016-03-23 10:10] #133 closed

[2016-03-30 16:51] tommie-lie opened #140 "LKL uses 100% CPU after adding a network device"
I'm slightly puzzled by the fact that nobody else has already seen this issue which was introduced by 1f5a1affc6bd793f87a1bb13d41adaf7dd089eb9.

The semaphore `virtio_net_poll.sem` which served the purpose of blocking the poll thread while there really was nothing to do, was removed in the mentioned commit.
As a result, the poll thread that handles the tx queue issues a `poll()` call on the data s

[2016-03-30 17:04] pscollins commented on #140
The semaphore wasn't doing its job correctly because when `virtio_net_enqueue` is called from an interrupt handler, it is `sem_up`'d without a corresponding `sem_down` (because it didn't pass through `net_poll`). So after an interrupt handler fires once, the TX thread never sleeps again --- the semaphore holds a bigger and bigger value over the lifetime of the program. I'm not sure if re-adding th

[2016-03-30 17:32] tommie-lie commented on #140
I'm sorry if I left the impression that your commit should be completely reverted, I'm sure it was necessary and the semaphore did behave strangely before.

Just adding the semaphore to the tx poll thread definitely is enough, the rx thread behaves normally. There still the problem with the eventfd, though. I'm not convinced exposing `net_poll` to `lkl_netdev` is the nice thing to do. `net_poll` s

[2016-03-30 18:03] pscollins commented on #140
Not at all! I didn't realize that was there for performance, I was very puzzled why it seemed to be acquiring a lock after the critical section was over.  I removed it because I thought it was intended to do synchronization that was now being handled differently.

If you don't want to expose the struct members, it might be enough to add some functions like `lkl_netdev_rx_wake` that `sem_up` the se

[2016-03-30 20:28] tommie-lie commented on #140
You are partly right and I was partly wrong. I misread the `ret < 0` as `ret > 0` and drew my conclusions from the behaviour I observed. You are right except for steps 7 and 8 which never happen like this.
What happens instead is that the first time `virtio_process_queue` is called, the queue is not ready (`q->ready` is false) and the function returns immediately without calling `net_enqueue`. The

[2016-03-30 20:34] pscollins commented on #140
Wow, that's a really interesting find. What did you do to test the networking stuff --- just `make test`? I have no idea how TX packets could be making it to the host if not on the TX poll thread. Maybe an interrupt is doing the work?

[2016-03-30 20:49] tommie-lie commented on #140
Yeah, I can reproduce everything with a very long sleep mentioned in the first comment. Starting from that, I can issue pings from the host and watch them being answered (albeit after 9 packets got lost (reproducibly!) probably due to all my fiddling around so far).
The packets are really sent by `virtio_write()` which directly calls `virtio_process_queue()`. `virtio_write` is ultimately directly

[2016-03-30 21:24] pscollins commented on #140
I think the kernel interface is the more important one here --- the real work is done inside drivers/virtio. I'd guess that `virtio_write` is called in an interrupt handler of some sort.

I've seen that before, I think it had something to do with the time it took for the route to get resolved --- you can confirm that's the problem if you set the MAC address to be the same each run and the problem

[2016-03-31 14:38] tommie-lie commented on #140
Thanks for the pointer to lguest and Rusty Russell's paper. From those two I don't think there are any requirements to the I/O processing that the guest kernel can make. From what I see in lguest it should be fine to have a single thread that does the writing. The virtio notify does what the name suggests: notifies an eventfd, whereas in LKL it calls `net_enqueue()` directly.

In the end, poll_thr

[2016-03-31 17:06] liuyuan10 commented on #140
Just want to bring up another point. Is it easier to temporarily fix it by using epoll (event triggered) on tx event? So the tx polling thread will only be unblocked when someone fill up the buffer. And net close should work completely as it is and not much change is needed.

I can draft a PR if you think it's doable.

[2016-03-31 17:13] pscollins commented on #140
SGTM

[2016-04-01 04:16] ngkaho1234 opened #144 "timer_set_oneshot() keeps on being triggered with ns == 0."
When LKL enters idle state, timer_set_oneshot() will keeps on being called with ns == 0.

It isn't a big issue that will cause instability. However it creates unnecessary CPU load.

I remove the check to tv_nsec in that function, and it seems that it manages to disarm the timer when LKL enters idle state.

[2016-04-01 04:18] ngkaho1234 commented on #144
If the change is fine, i may send an PR for that.

[2016-04-05 23:38] liuyuan10 opened #147 "At most 64 host threads calling lkl syscalls"
In arch/lkl/include/asm/irq.h, number of irqs are set to 64.
# define NR_IRQS         ((int)sizeof(long) \* 8)

Each host thread calling lkl syscall will create a new syscall thread, which occupies one irq. So at most 64 host threads calling lkl syscalls are supported. Actually virtio and others take some irq too.

This may be a problem if user often creates and destroys new threads. For example,

[2016-04-15 16:43] liuyuan10 commented on #140
The 100% CPU issue is already fixed by PR #143 . However, having eventfd between driver and device to wake up polling threads are still better, in which way no lock is needed around the queues.

@tommie-lie Are you planning to do this? I'd like to help in any way.

[2016-04-18 17:12] #144 closed

[2016-04-26 12:35] opurdila commented on #108
Closing as it is fixed by #128

[2016-04-26 12:35] #108 closed

[2016-04-26 12:38] opurdila commented on #96
I haven't seen any follow up from some time, closing the issue. Please reopen if more information is required.

[2016-04-26 12:38] #96 closed

[2016-04-26 12:39] opurdila commented on #17
Closing this issue as there was no follow up for some time and the underlying issue is tracked in #58.

[2016-04-26 12:39] #17 closed

[2016-05-10 18:30] liuyuan10 opened #155 "Is it possible to calling in lkl kernel directly from host thread?"
Now, a lkl syscall needs two thread wakeup to switch from a host thread into syscall thread. This introduces quite huge overhead. For example, my tracing on a benchmark shows lkl_sys_read takes avg 20 us while the syscall thread only takes 3 us to run the real syscall.

I'm thinking if we can make the host thread directly run the syscall. It's easy to have a global scheduling lock shared by lkl ke

[2016-05-12 14:40] opurdila commented on #155
I agree with you, the current system call handling is adding a lot of latency.

I've been trying to find a way around this for some time now but I could not find a way to do it. The main issue is that we can't interrupt a running kernel thread to prevent race conditions with the system call.

One way to avoid this is to implement a new host environment based on user level threads. That will be use

[2016-05-12 22:54] thehajime commented on #155
FYI.
https://github.com/libos-nuse/lkl-linux/blob/rump-hypcall/tools/lkl/lib/rump-host.c

[2016-05-16 10:34] Rondom opened #156 "Segfault on Win32 in wake_up_q (head=0xa8) at kernel/sched/core.c:419"
Hello,
the attached C-program works fine under Linux x64, but segfaults for me when compiled with the mingw32-toolchain.

    Program received signal SIGSEGV, Segmentation fault.
    [Switching to Thread 2520]
    0x004232bc in wake_up_q (head=0xa8) at kernel/sched/core.c:419
    419		struct wake_q_node *node = head->first;

I am wondering whether I am doing something wrong or whether there is som

[2016-05-16 10:42] opurdila commented on #156
Hi @Rondom ,

Are you using the patched mingw toolchain?

You can either compiled them manually (see README.md) or you can use the i686-w64-mingw32-* binaries from tools/lkl/bin/ (just backup you existing files and copy these over).

I know it is inconvenient, I will try to ping again on the mingw list to try to get those patches merged...

[2016-05-16 10:54] Rondom commented on #156
Yes I am using the precompiled binaries.

[2016-05-16 16:49] pscollins commented on #156
How are you building LKL? Did you make any changes to any config files?

[2016-05-16 17:16] Rondom commented on #156
I am sorry. This was indeed caused by an unclean compile. I was pretty sure I did double-check everything, but it seems I did not... oh well...

I recompiled 844853e from scratch and this specific issue is fixed. Current master has some new issues I will probably find time to investigate and bisect at the end of this week.

[2016-05-16 17:16] #156 closed

[2016-05-23 20:19] liuyuan10 opened #157 "Disabling NO_HZ_IDLE offers 50% netperf improvement"
After disabling NO_HZ_IDLE and enabled HZ_PERIODIC, netperf TCP_RR and TCP_STREAM saw 50% improvement on my machine. It makes sense to me, because NO_HZ_IDLE saves energy while CPU is idle but makes each idle loop more expensive.

My question is:
1. Do we want to disable it by default?
2. If so, how to do it? Currently I removed "defconfig" from Makefile and manually edited the local .config.

[2016-05-23 20:30] liuyuan10 commented on #157
Pls ignore my 2nd question. I find arch/lkl/defconfig.

[2016-05-23 21:08] liuyuan10 commented on #157
Found it's disabled in commit: 4688ebc04e1fc043ce51ff291041c375b73a4bad.
Looks like we need a tradeoff between performance and energy.

Can we make the LKL timer ticks less frequent to save energy? I basically don't know what those ticks are used for. I don't think we need them for scheduling. Because a LKL kernel thread needs to give up the run queue by itself. Timer irq can't preempt a LKL kerne

[2016-05-24 18:31] liuyuan10 commented on #155
I've been experimenting with letting host thread directly goes into lkl kernel space. I added a global kernel lock and any thread that in lkl kernel space has to hold it. So a host thread can acquire that lock to prevent any lkl kernel thread from running and borrows the task_struct of it's syscall thread. I managed to make it work. hijack on netperf runs without any failure. But I have to hack th

[2016-05-25 00:04] thehajime commented on #155
it would be good if we can take a look at the code you've come up with.

if you see a benefit but not likely to be merged, we can have a branch for an option even though it's hard to maintain.

[2016-05-25 00:14] thehajime commented on #157
I also see a similar improvement here.

since it looks like mutual exclusive benefits between two options, I don't think it's good to change.

did you see the part of the code which contributes the expensiveness in NO_HZ_IDLE ?

if I would elaborate more, it would be a good source of documentation; since the option we're discussing is _NOT_ a general option of Linux kernel but very sensitive one t

[2016-05-25 14:53] Rondom opened #158 "Sync LKL system clock with host system clock on boot"
Most Linux systems set the system clock from a hardware clock on boot using hwclock from util-linux.
I am wondering if we can provide this functionality within LKL as well by setting the LKL system clock to the host's system clock.

For many applications the system time inside LKL does not matter, but for lklfuse (and probably also cptofs) it does. Timestamps of files are wrong with the current im

[2016-05-25 17:12] liuyuan10 commented on #157
From this [thread](http://unix.stackexchange.com/questions/84947/why-config-no-hz-is-not-set-by-default), it says "CONFIG_NO_HZ(_IDLE) increases the cost of moving into and out of the idle state, slightly increasing the time it takes to get an idle CPU back to work.".

I believe the tick_nohz_idle_enter and tick_nohz_idle_exit in kernel/time/tick-sched.c is expensive though I can't pin point which

[2016-05-25 18:09] pscollins commented on #158
I wonder if this is why running `ping` under hijack always complains about going back in time?

[2016-05-26 10:13] opurdila commented on #158
Can you please test PR  #159 ? My basic tests seems to work, but please give it a try with your usecase as well.

[2016-05-26 12:57] Rondom commented on #158
I tested the patch (see PR-Comment).

Btw, the lkl_ops.time is missing from the docstring in arch/lkl/include/uapi/asm/host_ops.h

[2016-05-26 23:17] thehajime commented on #158
I guess the following is somehow related; CLOCK_MONOTONIC vs CLOCK_REALTIME.

https://github.com/libos-nuse/linux-libos-tools/issues/16

[2016-05-26 23:58] thehajime commented on #157
I can't pin-point either; quick perf/operf play didn't show those symbols on the output.

I guess scheduling is completely outsourced to the host-side so, I also think timer ticks are used to update internal variables (jiffies, xtime, etc).

[2016-05-27 15:07] opurdila commented on #158
Fixed by #159

[2016-05-27 15:07] #158 closed

[2016-05-31 22:37] liuyuan10 commented on #155
I drafted #160 . Please take a look.

[2016-06-29 11:11] RomanBelkov opened #169 "Readme and tests are not up to date"
Hello!

I've been playing around with LKL and here's what gave me troubles.

First of all, main page readme says you have to build using `make tools/lkl`, but `prepare3` from Makefile:988 in root does not let us build, so `cd tools` and then `make lkl` did the trick for me.

However, more confusing fact that `make test` fails when tries to work with btrfs since
[code]

Adjusting the count value in

[2016-06-30 06:05] thehajime commented on #169
@RomanBelkov thanks for the report.

could you give us a bit more information ?
- the full output of the error and paste here is helpful
- what is your distribution/OS that gives this error ?
- version of make (`make --version`)

maybe @tommie-lie could give us an answer ?

I'm also aware of the 2nd issue about btrfs on my Fedora 23.  I will fix it soon or patches/pull request is always welcome !

[2016-07-01 17:56] Rondom opened #170 "win32: Leak of TimerQueueTimers"
On Windows, everytime a new TimerQueueTimers is scheduled by [`nt-host.c:timer_set_oneshot`](https://github.com/lkl/linux/blob/6dacb1eee14add3bd4fa66bf45db69a35166f6bd/tools/lkl/lib/nt-host.c#L169), a HANDLE is allocated for that timer.

Currently those timer-handles are only freed when the whole TimerQueue is freed using [DeleteTimerQueueEx](https://msdn.microsoft.com/en-us/library/windows/deskto

[2016-07-03 09:26] RomanBelkov commented on #169
Hi @thehajime,

I used Ubuntu 16.04 with VirtualBox but got the same error using Fedora 23 running natively on another PC.

Here is the log:
[code]

[2016-07-03 14:26] thehajime commented on #169
thanks @RomanBelkov.

I wasn't well aware of this part of README -  I'm always building with `make -C tools/lkl` instead of `make tools/lkl`.

@tommie-lie, what do you think ? README changes were introduced by 69a8b30faf4004ef13bd852627cffb2cd47a65b0 FYI.

[2016-07-08 18:52] liuyuan10 opened #173 "IRQ processing in LKL"
I see LKL IRQs are run when IRQ is re-enabled (arch_local_irq_restore). I see two issues regarding this:

1. IRQ diabling/enabling is common throughout kernel. arch_local_irq_restore in LKL is not cheap due to atomic ops when checking irqs even if no irq is present. This is one key reason I observed that LKL syscalls is slower than real kernel (1us overhead for simple epoll_ctl).

2. I don't know

[2016-07-08 20:53] tavip commented on #173
Hi @liuyuan10 ,

Yes, the initial "design" was to try and mitigate 2. with 1. I've also noticed the large overhead in arch_local_irq_restore and I agree we need a better solution.

The main issue behind 2. is that we don't have the means to interrupt (efficiently or portable) an LKL thread so that we can run the irq handlers without the risk of running into race conditions.

BTW, I am not sure tha

[2016-07-09 00:02] liuyuan10 commented on #173
Regarding your BTW, when only counting the time in LKL kernel space, the irq restore becomes the main cost. That's why I'm looking for ways to  get around it on top of PR #160

If we assume a LKL kernel thread can hold the scheduling slot for a long time, I don't see a better way. And we have to choose to run irqs everywhere (when irq enabled).

If we take one step back and say a LKL kernel thread

[2016-07-11 18:26] liuyuan10 commented on #173
After getting more understanding of timekeeping, I think timer irq miss is no longer a big problem. timer irq handler will use lkl clock source to fix time.

Then I'm more comfortable to skip calling run_irqs in arch_local_irq_restore. This will cause TCP_RR degrade due to delayed irq handling but helps on top of PR #160 . I'll work on it if #160 can make it way to be merged.

[2016-07-13 10:41] thehajime opened #175 "netperf UDP_STREAM server hangs"
it's similar to #165 but for UDP_STREAM case for this time.

To reproduce:

$ LKL_HIJACK_NET_TAP=lkl_ptt1 LKL_HIJACK_NET_IP=192.168.20.2 LKL_HIJACK_NET_NETMASK_LEN=24 LKL_HIJACK_DEBUG=1 ./bin/lkl-hijack.sh netserver -D -f
$ for i in {1..100} ; do netperf -H 10.1.0.2 -t UDP_STREAM -l1 ; done

it seems that recvfrom (lkl_syscall) blocks after no more packets from netperf client.
more specifically, `

[2016-07-13 14:00] thehajime commented on #175
tried, the same result with the current  HEAD of master (732c596ba4697405cd8efc7258f3852512e137ca).

[2016-07-13 19:14] liuyuan10 commented on #175
I can observe the same problem. This is different from #165. The LKL is still pingable which means the virtio and lkl is still functioning.

By looking at /proc/net/snmp, I find some clue.
Udp: InDatagrams NoPorts InErrors OutDatagrams RcvbufErrors SndbufErrors InCsumErrors IgnoredMulti
Udp: 112 0 3658 0 3658 0 0 0

It receives 112 msgs and drops 3658. And it hangs in the 2nd netperf test. The fir

[2016-07-14 07:45] Rondom commented on #169
For me building with `make -C tools/lkl` overwrites my '.config', while 'make tools/lkl´ did/does not (if I remember correctly).

[2016-07-16 20:22] tommie-lie commented on #169
It was working then ;-) (try by checking out this commit)

The behaviour was introduced when merging upstream commits, more specifically when merging e17cf3a80d4ba0c4e40bf1a89deb1354c2e10e14. Before this patch, $O was empty if it was not set by the user. Now, $O equals $srctree which is automatically passed to tools/Makefile, then to tools/lkl/Makefile and then back to the Kernel's main Makefile.

[2016-07-19 11:37] Rondom commented on #16
This seems to occur when there is a moderate IO load. I can reproduce this both with stress-ng and with filebench. For example running the `webserver` workload without any changes, will trigger it. Reducing the number of threads to 3 will make it disappear, with 4 threads I can reliably reproduce it.

Or even by running the snippet below in shell and having the folder open in Nautilus (GNOME file

[2016-07-19 16:24] liuyuan10 commented on #16
I don't use lklfuse so I can't comment on your application. The logs you showed is helpful:
"syscall would block" only happens when multiple host threads ask the default syscall thread to create a new syscall thread. It doesn't mean a error.

The "failed to allocate" error log might be the reason. As described in issue #147 , if you have ~64 host threads calling lkl syscalls, the error will happen

[2016-07-20 11:55] Rondom commented on #16
Thanks for your answer @liuyuan10!
I had already been following your pull request and it was the first thing I wanted to try the next morning. Indeed this fixes the issue.

The problem is that libfuse will [call pthread_detach once it has reached more than 10 threads](https://github.com/libfuse/libfuse/blob/fuse_2_9_5/lib/fuse_loop_mt.c#L122-L136) while creating new threads as needed. Right now th

[2016-07-20 17:11] liuyuan10 commented on #16
You are welcome. Would like to know if the patch works in your case. I need more test cases on that patch.

[2016-08-05 10:49] Rondom opened #192 "Automatic cleanup of syscall threads"
Is there a reason why syscall thread data is not automatically freed on thread exit and one has to call ´lkl_stop_syscall_thread()´ manually?
What I am proposing is to add a parameter for a cleanup-function to `lkl_ops->tls_alloc` that is passed to ´pthread_key_create´ and change `arch/lkl/kernel/syscalls.c` to make use of that. What were the design considerations behind the current design? Why do

[2016-08-05 10:51] Rondom commented on #192
git blame points to @tavip @opurdila, so I take the liberty to mention him ;-)

[2016-08-05 10:56] Rondom commented on #16
See #192 for possible automatic cleanup making calling `lkl_stop_syscall_thread()` unnecessary.

[2016-08-05 11:04] Rondom commented on #169
The btrfs-issue was fixed in 8883b5f.

[2016-08-05 16:11] liuyuan10 commented on #192
This seems a good idea to me. It can abbreviate 64 irq limitation issue. For windows, google leads me to this thread:
http://stackoverflow.com/questions/18650956/how-to-release-the-object-in-a-tls-slot-at-thread-exit-on-windows
I don't know about windows programming but this FlsAlloc looks promising.

[2016-08-05 17:52] Rondom commented on #192
Thanks for the hint with FlsAlloc! The information I found was outdated, it seems (FlsAlloc was introduced with Vista). See the links below confirming that FlsAlloc can actually be used as a drop-in replacement for TlsAlloc.
http://stackoverflow.com/questions/27968850/does-winrt-really-support-thread-local-storage-functions-tls
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/043b1f9f

[2016-08-05 18:59] opurdila commented on #192
FlsAlloc sounds good to me which means we can implement this in a portable way.

The only potential issue I am think of is if there are limitation to the destructor function since lkl_stop_syscall_thread() needs to block to wait for the kernel thread to terminate.

But overall looks like a promising solution, thanks for looking into this!

[2016-08-05 19:48] liuyuan10 opened #194 "LKL uses large virtual memory space"
By default, each pthread has 8MB stack. LKL creates 20+ threads at
startup which consumes 160MB virtual memory alone.

The stack size can be configured like in commit: bee09a093ec607c9a39120c7ddda7691b2ffbf58
It gets reverted due to too small stack size.

If there is need to limit virtual memory usage, we can provide an option to configure the stack size.

[2016-08-06 07:33] thehajime commented on #169
@Rondom right.

Remaining issue is about `make tools/lkl` command, as reported @tommie-lie, but I haven't investigated yet thoughtfully .

[2016-08-08 16:01] liuyuan10 commented on #192
@Rondom Thanks for sharing the great idea. I actually find I also need it in my applications. Are you planning to implement it?

[2016-08-08 16:56] Rondom commented on #192
Yes.

[2016-08-08 17:04] Rondom commented on #192
Yes, but it might take some time until I can submit a PR.

[2016-08-08 22:05] Rondom commented on #192
A first test with LKL-FUSE worked like a charm. I was not able to stress it enough to run out of IRQs.

[2016-08-09 18:31] hkchu commented on #173
Is there more progress on shedding the overhead from arch_local_irq_restore()? I also think the overhead can't be from the atomic operation, but more from "run_irqs()". OTOH if no irq is pending run_irqs() should be cheap so i don't know what happened. It's also strange why the kernel still needs to disable/enable local_irq often - I thought it mostly relies on mutex locks. Even for LKL where SMP

[2016-08-09 20:28] liuyuan10 commented on #173
This is fixed by #176

Irq disabling/enabling happens quite a lot from what I see. For example, when spin lock is hold. On UP, spin lock is no op but irq still has to be disabled.

[2016-08-09 23:17] hkchu commented on #147
It looks like there are multiple ways a user thread can terminate without bringing down the whole process. Is there any way for LKL to catch all these terminate cases and do the cleanup properly, e.g., to free the associated irq?

At least we need to define APIs for apps to call to free up LKL resources when a thread terminates.

[2016-08-10 00:05] hkchu commented on #192
Will we be able to capture all the thread terminating cases here (except when it causes the whole process to die), or we can only capture the "normal exit" cases? I hope it's the former, much like the host kernel capturing all the process terminating cases so the proper cleanup can be done for all cases. Otherwise we should document what cases we can't cover so we are aware of the limitation (e.g.

[2016-08-12 03:44] hkchu opened #200 "vmsplice() causes LKL to crash (segfault)"
I tried to use vmsplice() (through hijack) on LKL but my program crashed upon the 1st invocation of vmsplice(). I've tracked down the crash to be due to a null "current->mm" when __get_user_pages_unlocked() in mm/nommu.c was called. "current" is the currently executing (kernel) thread->task and mm is of struct mm_struct * inside struct task_struct. It looks like "active_mm" is fine:
(gdb) p ((stru

[2016-08-12 12:54] opurdila commented on #157
@liuyuan10 I believe this was fixed by #178 and some quick tests on my side seems to confirm this. Please reopen if I am in error.

[2016-08-12 12:54] #157 closed

[2016-08-12 18:06] Rondom opened #201 "Increase the number of system calls intercepted by Hijack"
From what I can see only a very limited number of system calls is actually intercepted by lkl-hijack.

I am wondering what speaks against widening the number of system calls supported. What would be the pros and cons? Would it interfere with some use cases where people still need programs to access some parts of their host system?

[2016-08-12 18:49] Rondom commented on #201
[rump-hijack manpage](http://netbsd.gw.com/cgi-bin/man-cgi?rumphijack+3+NetBSD-7.0.1) describing some additional features useful for LKL as well

[2016-08-12 18:51] opurdila commented on #201
Yes, interference is the main issue. Think about all the filesystem calls needed to read various files from the host system (e.g. /etc/ld.so.cache), mmap to map host libraries, etc.

Do you have specific system calls you need supported?

[2016-08-12 20:06] opurdila commented on #200
This is certainly a LKL issue and probably caused by the fact that we don't implement execv in LKL to create the mm_struct for the init process. I have it on my to do list.

The bigger problem is how to map the host memory in LKL so that vmsplice can handle it.

Then there is the issue that vmsplice and sockets don't work well - see SPLICE_F_GIFT comment in the man page.

[2016-08-12 20:07] hkchu commented on #200
It looks like all kernel threads have task->mm == NULL because they all call "dup_task_struct(current)" inside "copy_process()", and the very 1st task ("init_task"?) have mm == NULL used by "init__thread_union". Without digging into more code, it seems like I maybe hitting an limitation of LKL using separate kernel thread to service syscall on behalf of the issuing thread that make it problematic

[2016-08-12 20:20] opurdila commented on #200
@hkchu Looks like we cross posted :) Yes, because LKL does not have execve implemented, the init thread does not have a proper mm setup. It is on my todo list - so that we can remove  47493a4. But see my previous comment.

[2016-08-12 20:43] hkchu commented on #200
Octavian, thanks for the clue (i'm still on a learning curve on LKL so will have a lot of questions for you :)
I'm currently trying to do zero-copy on sockets (both TX & RX). Initially i thought it should be easy because we have both the app and the "kernel" in the same address space so we can do away with vmsplice()/splice(). But it looks like it may not be that easy (and I only used vmsplice() j

[2016-08-12 20:56] opurdila commented on #200
vmsplice works both ways, to and from the socket. I've used it in the past for benchmarking purposes.

The main issue with vmsplice from pipe to socket is that you are not allowed to modify the memory after gifting it to the kernel. The reason for that is because the kernel will hold on to the buffers until it receives ACKs as it may need to retransmit them. But there is no notification from the k

[2016-08-13 03:50] hkchu commented on #200
Sorry I misunderstood what you meant by "vmsplice() and sockets don't work well together". Yes I'm very aware of all the issues with it. In fact if you Google my name and "zero-copy" you'll find a paper I wrote 20-years ago attempting to provide a zero-copy solution for another OS. Back then it was a big pain to solve the cross user/kernel space and protection issues (i had to COW protect user pag

[2016-08-14 19:16] eu41 opened #203 "filesystem specific options"
Just got lklfuse to work in FreeBSD 11.0, but cannot mount btrfs partitions with subvolumes.
Maybe that would be possible if filesystem specific mounting options would be implemented, like subvolid=xxx,discard,autodefrag etc.
Any plans for that?
Thanks,
eu41

[2016-08-14 23:57] opurdila commented on #200
@hkchu Cool, I'll give it a read :) BTW,  #204 should fix the crash but it will likely run into mapping errors because the buffer we are trying to vmsplice will have no correspondence in LKL's mm. I'll work on this next. Do you have a temporary branch  / test that I can use?

[2016-08-15 00:54] hkchu commented on #200
Yes I gradually got a better grasp on the constraints the current LKL implementation imposes - since a host thread is completely foreign to the LKL kernel, the latter has no idea about the "user" or  host address. This is not a problem if the LKL kernel simply access "user" memory through loads/stores. But wherever LKL needs to look behind an address to muck with the physical pages (i assume there

[2016-08-15 02:07] opurdila commented on #203
@eu41 Can you please try PR #205 and let me know if it works for you? Seems to work with ext4 on my end. Note that you will need to escape , and =, e.g.:

./lklfuse -d -o type=ext4,opts=discard\\,max_batch_time\\=10 system-unsparse.img ~/mnt

[2016-08-15 04:53] thehajime commented on #201
I am mostly thinking that it's impossible to support all system calls with a hijack library due to various limitations of hijacking.  it's a magic indeed but not panacea in my experience.   and if we want more LKL syscalls supported, we may need something different as I'm (and a rump guy is) attempting with https://github.com/libos-nuse/frankenlibc (and coupling musl-libc etc).

but you're right @

[2016-08-15 11:01] eu41 commented on #203
Tried this and it's not working:

lklfuse -d -o type=btrfs,opts=subvolid\=258\,space_cache\,autodefrag

Fails with message:

Unknown option 'opts=subvolid=258,space_cache,autodefrag'

[2016-08-15 11:29] opurdila commented on #203
You need double escapes. Seems that github messed them up, lets try again:

`./lklfuse -d -o type=ext4,opts=discard\\,max_batch_time\\=10 system-unsparse.img ~/mnt
`

[2016-08-15 21:59] eu41 commented on #203
I reported your answer to the port maintainer in FreeBSD.
Hopefully, he will update the port to the latest in github.
Will let you know as soon as that happens and I try again.

[2016-08-16 03:09] #203 closed

[2016-08-18 11:23] eu41 opened #211 "Mounting from /etc/fstab"
The previous update #205 fixed the mounting with filesystem specific options when mounting with lklfuse from command line, but not from /etc/fstab.

The following happens:

lklfuse -o type=btrfs,opts=space_cache\,compress\=no\,discard

works perfectly fine from command line.

When adding this line in /etc/fstab:

/dev/ada2p2 /mnt/data fuse mountprog=/usr/local/bin/lklfuse,type=btrfs,opts=space_cac

[2016-08-18 12:45] opurdila commented on #211
This is probably an issue with how fstab is parsed and how many times the options are passed through shell. You may need 4 escapes :)

Can you please attach  a strace -f of the mount command?

@cemeyer can you please take a look? I am not familiar with FreeBSD and Linux has a different way of handling fstab / mount (using external helpers) which makes it hard for me to debug it.

[2016-08-18 15:35] cemeyer commented on #211
I'll look.  I don't have a lot of familiarity with this part of the system either.  If I had to guess, I'd guess that whatever parses fstab is ignoring your escapes entirely and just splitting on commas.

[2016-08-18 21:16] eu41 commented on #211
Conrad, try a fstab entry simlar to mine.
Alternatively, send your fstab line so I can have a look.

[2016-08-18 21:32] cemeyer commented on #211
I used a very similar line:

`/dev/da0       /mnt/USB        fuse    mountprog=/usr/local/bin/lklfuse,type=ext4,opts=space_cache\,compress=no\,discard       0       0`

[2016-08-18 22:00] eu41 commented on #211
Your line has the proper format, but ext4 does not support space_cache and compress=no, which are specific to btrfs.
Fort ext 4 you could try "nodealloc,auto_da_alloc,discard" on an ext4 formatted partition.
Remove discard if it's not on a SSD.

[2016-08-18 22:03] eu41 commented on #211
The output of truss -f mount /dev/ada5p5 is attached in a text file.
[truss.txt](https://github.com/lkl/linux/files/425979/truss.txt)

[2016-08-18 22:04] cemeyer commented on #211
mount hasn't gotten to where `opts` gets parsed, so this doesn't matter at all.  Removing those options gives the same result.

Thanks!

[2016-08-18 22:12] eu41 commented on #211
Would it be useful to send you the output of truss command that mounts successfully from command line?

[2016-08-18 23:24] #79 closed

[2016-08-18 23:26] opurdila commented on #139
Closing this as the net virtio cleanup issue has been fixed by 342c0e835755ee5222602f31bf8c368574539cb3 and I no longer see a use-case for it.

[2016-08-18 23:26] #139 closed

[2016-08-18 23:55] opurdila commented on #103
I think the best option is to implement module support in LKL. Closing and referencing #63, please reopen if you think we have a better solution.

[2016-08-18 23:55] #103 closed

[2016-08-19 00:05] opurdila commented on #140
I think this issue is fixed, please reopen if I am wrong.

[2016-08-19 00:05] #140 closed

[2016-08-19 00:13] opurdila commented on #134
I haven't seen this happening in a while, so I'll close it for now. We can reopen if we can get it reproduced consistently in the future.

[2016-08-19 00:13] #134 closed

[2016-08-19 00:36] opurdila commented on #173
According to the latest comment (and my memory) this should be fixed by #176, so I am going to close the issue. Please reopen if I am wrong.

[2016-08-19 00:36] #173 closed

[2016-08-19 11:42] opurdila commented on #170
Unfortunately we can't use a periodic timer because the Linux timer tick is dynamic when entering idle.

I think the fix with freeing the previously scheduled timer its good. We can't have race conditions since the LKL is single threaded at the moment and the only calls to timer_set_oneshot comes from LKL threads.

[2016-08-19 11:43] opurdila commented on #147
Note: this is fixed by either #160 or #198.

[2016-08-19 11:47] opurdila commented on #211
Hmm, looks like the output does not help much because the lklfuse execve arguments are not show. Quickly googling freebsd, truss and execve shows that using -a might help.

@eu41 could you please rerun truss with -a and post the result here? Thanks!

[2016-08-19 11:53] opurdila commented on #99
Closing this issue as the use-case described here can be solve using lklfuse and we have #201 to cover the more general case.

[2016-08-19 11:53] #99 closed

[2016-08-19 15:38] #16 closed

[2016-08-19 22:49] eu41 commented on #211
Octavian, I don't know much about tracing/debugging, but I did what you asked and applied some logic.
The output of truss -a is attached for two commands and I'm also attaching an extract from my fstab.

1. truss -a lklfuse -o type=btrfs,opts=space_cache\,discard /dev/ada5p4 /mnt/data (successful)
2. truss -a mount /dev/ada5p4 (this should mount from /etc/fstab, but fails)

The second command fail

[2016-08-19 23:00] opurdila commented on #211
@eu41 please run with -f as well, i.e. truss -f -a, otherwise we can't see the arguments passed to fuse.

[2016-08-20 11:02] eu41 commented on #211
See attached the output of truss -f -a for three versions of fstab: no escapes, 1 escape, 2 escapes.

Looking at the parameters passed to lklfuse in execve, I think that the fstab should not include any escapes and it's up to lklfuse to assemble into one string all the "-o" options that follow "opts=..." and then use that string to do the mount.

[truss-no_excapes.txt](https://github.com/lkl/linux

[2016-08-20 12:52] opurdila commented on #211
Thanks! It seems that the fstab parser ignores the comma escapes. Also please note that -o rw, -o noatime, etc. are only passed to the fuse module and does not reach LKL.

Right now lklfuse follows the libfuse's conventions and options to be passed to the mount system call should be passed as -o opts=... with , and = escaped.

I am not sure if it is wise to pass all -o options to LKL since there m

[2016-08-20 13:16] eu41 commented on #211
Why not trying to pass to LKL only its own specific options, including filesystem specific options, like

-o type=btrfs,opts=space_cache,compress=no,discard ... etc.

and leave the others like "rw,noatime ... etc." to be dealt with by OS specific mount command?

After you think about it and do the necessary modifications, please let Conrad know, so he can update the FreeBSD port.

[2016-08-24 08:05] wassimd opened #214 "make error"
Hi ,
Tring to install The Linux Kernel Library LKL on ubuntu 16.04 (after instaling the required packages), I use the command provided in the documentation make tools/lkl but it was failed. The error output is below:
[code]
Do you know how to fix this issue ?

[2016-08-24 08:11] wassimd opened #215 "Running Test error : undefined symbol: lkl_netdev_vde_create"
Hi,
The make tools/lkl gave me errors so I used **make** in **main folder** then another **make** in **./tools/lkl** folder. Make was running without errors however the **make test** command generate errors described below
[code]

[2016-08-24 08:29] #169 closed

[2016-08-24 08:31] opurdila commented on #214
Hi @wassimd , thanks for reporting this issue.

Please use make -C tools/lkl to build for now - see #169 for a detailed description of the problem.  I've merged #213 to update the documentation.

[2016-08-24 08:31] #214 closed

[2016-08-24 08:38] opurdila commented on #215
Most likely this is caused by bad .config. Please use make -C tools/lkl (or cd tools/lkl; make -j4; make test) for building LKL.

[2016-08-24 08:56] wassimd commented on #215
Actually it gives same error.
[code]
is there a missing package that need to be installed in ubuntu 16.04?

[2016-08-24 10:54] opurdila commented on #215
Looks like this is a bug. vde was not enabled in the build (to do so you need to build with vde=yes make -C tools/lkl) but the tests do not check for that, it only checks if vde_switch is installed.

[2016-08-24 11:55] wassimd commented on #215
Using the command **vde=yes make -C tools/lkl** did not resolve the issue.

[2016-08-24 12:39] opurdila commented on #215
Hmm, are you getting the same error? What does nm -D liblkl-hijack.so | grep netdev says?

[2016-08-24 12:56] wassimd commented on #215
Yes same error and same output of nm command.

[2016-08-24 13:30] opurdila commented on #215
Ah, you also need to use vde=yes when you issue make test.

[2016-08-24 13:44] wassimd commented on #215
Now, it gives a different error **vde=yes make test**
[code]

[2016-08-26 03:00] hkchu commented on #200
Fixed by #204

[2016-08-26 03:00] #200 closed

[2016-08-29 20:04] #215 closed

[2016-09-02 01:14] andreas-abel opened #220 "Libraries contain TEXTRELs"
The LKL libraries contain TEXTRELs (i.e., relocations in the text segment). This can be seen using "readelf -d liblkl.so | grep TEXTREL".

Having TEXTRELs can lead to a number of issues:

1. If a shared library contains a TEXTREL, the corresponding memory pages cannot be shared.
2. Android >=6 and SELinux do not support binaries with TEXTRELs (http://android-developers.blogspot.com/2016/06/android

[2016-09-06 21:23] andreas-abel commented on #220
Here is an example for issue #3 that leads to a segmentation fault:

bug.c:
--------------------------------------------------------------------------------
#include <lkl.h>

#include <stdio.h>
#include <sys/auxv.h>

int foo_v4 (void) { return 4; }

void * f_choice (void) {
  return foo_v4;
}

int foo (void) __attribute__ ((ifunc ("f_choice")));

int main() {
  printf("vfpv%d\n", foo());
  volatil

[2016-09-06 21:30] andreas-abel commented on #220
Here is an example for issue #3 that leads to a segmentation fault:

bug.c:
-------------------------------------------------------
#include <lkl.h>
#include <stdio.h>
#include <sys/auxv.h>

int foo_v4 (void) { return 4; }

void * f_choice (void) {
  return foo_v4;
}

int foo (void) __attribute__ ((ifunc ("f_choice")));

int main() {
  printf("vfpv%d\n", foo());
  volatile int b = 0;
  if (b) {

[2016-09-06 21:32] andreas-abel commented on #220
Here is an example for issue #3 that leads to a segmentation fault:

bug.c:
[code]

Compile with (gcc version 5.3.0):
gcc bug.c liblkl.a -Iinclude -o bug -lpthread -lrt -Wl,-z,noexecstack -fPIC -pie

[2016-09-07 17:12] liuyuan10 commented on #220
@opurdila We encountered seg fault when using the liblkl.a in some applications. Andreas helped us find out the root cause and a workaround. The fix is vital to us and has been used in our repository. I think it may be useful for upstream. But the downside is the fix needs to touch kernel kallsyms.c. What do you think?

[2016-09-07 19:13] opurdila commented on #220
@andreas-abel thanks for investigating and finding a fix to the issue !

I think we might be able to get around modifying the kallsyms with some objcopy magic, but since this is a critical fix for you and it is very simple, lets merge the fix you have for now.

[2016-09-07 20:58] liuyuan10 commented on #220
Just to keep a record. Another options without touching kallsyms.c is to disable both CONFIG_KALLSYMS and CONFIG_KALLSYMS_ALL at the cost of loosing some debuggability. @andreas-abel could you send out a PR of the fix?

[2016-09-08 02:26] hkchu opened #222 "Is it possible to produce a list of files outside arch/lkl that LKL modifies?"

[2016-09-08 02:37] thehajime commented on #222
[code]

[2016-09-08 03:16] hkchu commented on #222
Thanks, Hajime! But I don't see any tag newer than v4.3-rc7 on the master branch. How does one identify the commit(s) when LKL is rebased to a newer kernel?

[2016-09-08 09:13] Rondom commented on #222
Maybe we someone can push the tags from upstream to make it easier for people.

[2016-09-08 13:39] alagalah opened #223 "[question] zero-copy support/example"
If there is a mailing list to ask questions please feel free to redirect and close.

Is there an example of using LKL for socket zero-copy operations as per http://netdevconf.org/1.2/session.html?jerry-chu ?

Are there examples of using HIJACK with this?

[2016-09-08 13:47] opurdila commented on #222
I've just pushed all the tags up to 4.6-rc5 to the master branch, please let me know if it works for you now.

Something to remember when doing the next merge with upstream kernel :)

[2016-09-08 14:02] opurdila commented on #223
Mailing list is located at https://www.freelists.org/list/linux-kernel-library, but I don't mind continuing the discussion here.

zero-copy is something that @hkchu has been looking into, I'll let him answer that.

[2016-09-08 17:44] hkchu commented on #222
Thanks! I just found out merges with the upstream code were documented in pull requests so I can better track things myself. BTW, any plan for those changes in the generic code area (e.g., kernel/cpu.c) before we have a chance to try integrating LKL into the upstream kernel (e.g., Linus tree)?

[2016-09-08 19:02] opurdila commented on #222
AFAIR the only problematic change is the cpu_yield_to_irqs() - which is needed to avoid deadlocks for code that uses while (jiffies condition) loops.

I am not sure how we can avoid it without signal support (which we want to avoid since some hosts, e.g. Windows does not support it).

[2016-09-09 10:53] opurdila commented on #220
Fixed by #221

[2016-09-09 10:53] #220 closed

[2016-09-10 17:41] hkchu commented on #223
Unfortunately we hit some road block so this is still WIP. Please stay tuned.

[2016-09-10 18:21] alagalah commented on #223
Can you share the issue? Best I have been able to come up with is single memcopy between containers.

[2016-09-10 22:53] alagalah commented on #223
Can you share the issue? Best I have been able to come up with is single memcopy between containers.

[2016-09-10 23:21] hkchu commented on #223
On Sat, Sep 10, 2016 at 3:53 PM, Alagalah (Keith Burns) <
notifications@github.com> wrote:

It depends on what configuration you have and which copy you're referring
to.
E.g., one of the configurations we use involves 6 copy operations for each
byte transferred. Different copy operation poses different challenge...

[2016-09-14 16:16] tavip opened #228 "Races between lkl_sys_halt and syscalls"
There are many possible races between lkl_sys_halt() and other threads that issue system calls:

* the syscall_thread_data structure is freed when the system call thread is terminated, but the tls key still contain a pointer to this structure
* a host thread can queue a system call to a syscall thread just before the syscall thread is be terminated leaving the host thread stuck

[2016-09-14 16:32] #222 closed

[2016-09-14 22:38] liuyuan10 commented on #228
I don't think this is an issue. The users should make sure all lkl syscalls are made before calling lkl_sys_halt.

[2016-09-15 19:37] M1cha commented on #121
Couldn't LKL be used as a cygwin replacement too or does it sth. fundamentally different which I just don't see?

[2016-09-17 04:04] M1cha opened #232 "don't call tick_suspend_local when timer is not supported"
I'm not sure if it's a linux or lkl bug, but when lkl calls tick_suspend_local without setup_irq being called previously the system crashes because the 'tick_suspend_local' doesn't do any pointer checks.

[2016-09-17 08:57] M1cha opened #233 "dynamic memory size?"
When using one kernel instance for all devices it's easy to run out of memory and I really don't want to allocate a few hundred MB of data on startup.

[2016-09-17 09:14] M1cha opened #234 "how to increase iomem?"
[code]

how does this work exactly? 8 regions are not enough for what I wanna do(I need up to 60).

[2016-09-17 10:30] tavip commented on #232
I am not sure LKL will be of any use if timers are note supported. Do you have a usecase for that, how did you run into this issue?

[2016-09-17 11:53] M1cha commented on #232
I'm porting LKL to UEFI which has no threads.
I'm 'emulating' threads using setcontext/getcontext/swapcontext. that works perfectly with the only limitation being that there is no scheduling from the outside because I can't change the PC from within an interrupt context. To work around this I reschedule when semaphores are used(which happens very often in linux).

I added timer support not and it

[2016-09-17 11:55] M1cha opened #235 "registering block devices after starting the kernel"
if I do that I just get a 'can't mount disk: No such device or address' which actually comes from 'get_virtio_blkdev' which can't find the sys node for the new device.

The root problem here probably is that the virtio-mmio device doesn't get registered.

[2016-09-17 12:27] tavip commented on #233
Can you please clarify? Do you mean device memory (iomem) or kernel memory (the parameter passed to lkl_start_kernel)?

[2016-09-17 12:31] M1cha commented on #233
at first I thought it's kernel memory, but apparently I was just running into iomem problems, see #234

[2016-09-17 12:33] tavip commented on #233
Ah, OK :) Then I will close this issue. I already have a fix pending for #234 and I will create a PR soon. Please reopen this issue if I misunderstood.

[2016-09-17 12:33] #233 closed

[2016-09-17 13:36] thehajime commented on #235
currently virtio-mmio code is created/instantiated by boot cmdline parameters so this case (i.e., creating after `lkl_start_kernel`) is not supported.

We may introduce other ways to instantiate it - would be another PR.

https://github.com/lkl/linux/blob/master/drivers/virtio/virtio_mmio.c#L9

[2016-09-17 15:04] M1cha commented on #235
@thehajime I'm currently implementing that but I'm not sure what's the correct way to define a new syscall(it can't be called directly because adding devices causes a resched of the idle thread otherwise).

there already is a __NR_create_syscall_thread which is not used anywhere, also the function sys_create_syscall_thread is defined manually without the SYCALL_DEFINE wrapper and then called direc

[2016-09-17 15:42] tavip commented on #235
@M1cha you can define it in arch/lkl/include/uapi/asm/unistd.h like

#define __NR_virtio_mmio_device_add      __NR_arch_specific_syscall+1

[2016-09-17 17:18] M1cha opened #237 "host-implementations return wrong capacity"
virtio_blk expects 512-byte blocks, not the actual file size in bytes.

[2016-09-17 17:40] M1cha commented on #235
do you have any ideas about a better way to find the /sys node of a block device?
it looks like the virtio device ID is not related to the drive letter at all.

[2016-09-17 18:08] tavip commented on #234
@M1cha can you please give PR #236 a try and see if it fixes your issues?

[2016-09-17 18:08] #234 closed

[2016-09-17 20:56] tavip commented on #235
Hmm, there should be a perfect correlation between the block device letter and the id returned by lkl_disk_add unless you are using multiple threads.

Can you give more information about the issue you are running into?

[2016-09-17 21:04] M1cha commented on #235
@tavip that's just with the current code adds devices in the same order as they are counted by lkl and devices never get removed.

If I set the id of the first mmio device to 5 it will still be a and not e.
Also when starting to remove devices things will start to look even more different.

[2016-09-17 21:19] tavip commented on #235
@M1cha Ah, I see. I assume you are using platform_device_add to add device dynamically after starting the kernel? In that case you can try to use /sysfs/devices/platform/virtio-mmio.X/virtioY/block/vdZ/dev to get the major and minor.

The problem is that while X should be the device id you set, Y and Z might get assign independently. So you probably need to use getdents in  /sysfs/devices/platform

[2016-09-17 21:29] M1cha commented on #235
@tavip thx I'm actually using PLATFORM_DEVID_AUTO already. the example with '5' was just to clarify the problem.

Shouldn't Y and Z always be 0 if the device doesn't contain a partition table?

[2016-09-17 21:47] tavip commented on #235
@M1cha No, Y is the id of the virtio device (drivers/virtio/virtio.c), and now that I think about it, it should be equal with X because we should not have other way of spawning a virtio-device (see bellow) other then virtio-mmio.

The full device hierarcy is virtio-mmio-device -> virtio-device -> virtio-block-device but each device has its own id.

So X and Y should always be the same for LKL. Z m

[2016-09-18 08:44] M1cha commented on #235
@tavip there seems to be another problem with the number of id's.
The virtio-block-device assigns minor id's with wholes of 16(0-16-32-...256).
If I use the kernel's internal macros to create the block device then(the uapi ones only support id's up to 256), that works perfectly(I verified it using stat) - unless I try to mount such a device which results in "No such device or address"

[2016-09-18 11:54] #237 closed

[2016-09-18 11:59] tavip commented on #232
This is really cool ! I think using user level threads can also with some of the latency issues in some workloads and it would be useful even for posix hosts.

With regard to this issue, it looks like it was resolved, should we close it?

[2016-09-18 12:04] M1cha commented on #232
I have to check if I'll run into future problems(e.g. linux waiting for an irq triggered by the timer event while interrupts are disabled), but since I've implemented a (inaccurate) timer the issue is solved, yes

[2016-09-18 12:04] #232 closed

[2016-09-18 13:29] wassimd opened #240 "macvtap & raw sockets tests are failed"
Hello,

Running the command  bash -x net.sh gives the following output: [out.txt](https://github.com/lkl/linux/files/478718/out.txt)

[code]
and the command make test gives the following errors:
[code]

[2016-09-18 13:48] tavip commented on #235
@M1cha Yes, it looks like we are using the wrong macros. But I don't think internal macros work either, see new_decode_dev. It looks like we need to use something like this (picked from glibc):

[code]

Also, note that once we skip past ~26 devices, the block device names will start to be formated like vdXY, e.g. vdaw.

[2016-09-18 14:16] M1cha commented on #235
@tavip I know, what confuses me is that even after using the correct macros and verifying the created block device node using stat, I can't mount any device with a minor number bigger than 256.

[2016-09-18 14:39] tavip commented on #235
@M1cha Hmm, with the above makdev function I was able to mount.

I've pushed my hacks here: https://github.com/tavip/linux/commits/tmp and used lklfuse to test. go to tools/lkl/tests and run lklfuse.sh which should mount somewhere in tmp where you can inspect the full fs namespace as seen by the lkl instance.

[2016-09-19 10:32] M1cha commented on #232
@tavip how is the printk time determined and does it have any effects on the kernel behavior?
I'm calling the scheduler during the timer event now(which is ok since the kernel usually doesn't do any long running tasks except during a syscall in which case it would be ok) but the time always stays the same.

[2016-09-19 13:39] tavip commented on #232
@M1cha The printk timestamps are computed based on jiffies, which should get incremented each time the timer irq handler is run.

The behavior you are describing seems to imply that irq handler are not run, if I did not miss anything.

[2016-09-19 13:54] M1cha commented on #232
@tavip maybe I misunderstood the functions and implemented them wrong? That's how I understand it:

timer_alloc only allocated internal structures, but doesn't enable a timer
timer_free stops and deletes the timer
timer_set_oneshot runs a timer ONCE after N ns.

is that correct?

[2016-09-19 14:00] tavip commented on #232
@M1cha This is correct. The the timer function only schedules the interrupt (it calls lkl_trigger_irq). The actual timer irq handler is called from run_irqs() which is called each time we enable interrupts when they have been disabled. This happens in various places in the kernel code and when we wakeup the idle thread - see arch_cpu_idle()

[2016-09-19 17:09] M1cha commented on #232
btw here's my code (sry for the formatting):
https://github.com/efidroid/uefi_apps_LKL/blob/master/UefiHost.c

are there any important libc/libm functions liblkl relies on and which could causes this?
Some may be unimplemented in uefi.

[2016-09-20 05:51] M1cha commented on #235
@tavip the problem seems to be the macro's I've used. Where do you have makedev from?
I used the kernel's internal macro's

[code]

[2016-09-20 07:21] tavip commented on #235
@M1cha I've picked the version I've reference from glibc - see man makedev. I am not sure why it uses 64bit, it does not seems to be used yet in kernel. There is a huge_decode_dev which right now is just calling new_decode_dev, and I assume it for future expansion.

[2016-09-20 13:14] M1cha commented on #232
@tavip I fixed this problem:
1) the printk time does use 'time_ns'(not any scheduling based time)
2) I accidentally returned microseconds instead of nanoseconds
3) current_time()*1000000 is not the same as current_time()*1000000ULL

thx :)

[2016-09-20 13:25] M1cha commented on #235
@tavip I'll make a PR as soon as #239 is merged because I based on top of that commit and we'll have to PR's with the same commit otherwise.

while speaking about limits:
```NR_IRQS                        ((int)sizeof(long) * 8)```
is there a reason for the relationship to the size of long? while I get 64 IRQ's on a 64bit machine, on ARM(32bit) I only get 32 IRQ's which I can end up using if I reg

[2016-09-20 15:42] tavip commented on #235
@M1cha I've just merged #239, thanks for reminding me about it ! It looks like GitHUB doesn't send notifications when new versions are pushed :(

With regard to irq limits, the limitation comes from the various __sync_* functions we use in lkl_trigger_irq() and run_irqs() that can only operate with longs AFAIR.

But I think the synchronization will properly work if we extend it to use multiple suc

[2016-09-20 22:53] #192 closed

[2016-09-21 18:28] M1cha commented on #235
this got fixed with #241

[2016-09-21 18:28] #235 closed

[2016-09-24 00:26] liuyuan10 opened #245 "Error msg: Device 'virtio0' does not have a release() function"
[   13.000000] ------------[ cut here ]------------
[   13.000000] WARNING: CPU: 0 PID: 40 at drivers/base/core.c:251 device_release+0x92/0xa0
[   13.000000] Device 'virtio0' does not have a release() function, it is broken and must be fixed.
[   13.000000] Call Trace:
[   13.000000] 00007fccc97f99d8:  [<7fcce725e0c2>] device_release+0x92/0xa0
[   13.000000] 00007fccc97f99f8:  [<7fcce6fc0c9a>] __w

[2016-09-24 05:11] M1cha commented on #245
@liuyuan10 I only know how to silence it, but not how to fix it, since I'm not that familiar wit writing kernel platform drivers.

[2016-09-28 15:46] Rondom commented on #147
Thanks to #242, the limit is now 4096 (or 1024 on 32bit).

[2016-10-08 09:25] M1cha opened #247 "design reason for the header install method?"
Is there a reason that we only install the headers needed by syscalls.h and host_ops.h?
When using syscalls(in my case ioctl's) it's important to have access to all the uapi stuff.

Wouldn't it make more sense to use the default kernel header install method and the just move everything into the lkl subdirectory and recursively apply the patches?

[2016-10-08 11:03] tavip commented on #247
The main reason is that the "parser" we are using the avoid name collisions with the native environment in case of Linux (e.g. struct iocb, struct ethaddr, etc) is kind of a joke. So until we use something more robust, we use this incremental approach were we improve and add support for more complex parsing as we add new headers.

[2016-10-13 16:58] M1cha commented on #245
@tavip shouldn't we report this to the linux kernel mailing list so they can fix it?

[2016-10-13 17:15] M1cha commented on #59
may I ask what you are using lkl for inside Android apps? sounds like a interesting usecase.

[2016-10-13 17:51] phhusson commented on #59
The various ideas I had (but I couldn't find the time for it):
- Implement MPTCP in userland (this would require root, but doesn't need to patch kernel)
- Implementing ethernet drivers using VPN API (this wouldn't require root)
- Implementing "full" USB storage support (including many file systems). This can be done twice, once using the document API which wouldn't require root, but would be less

[2016-10-13 18:19] docbrown commented on #59
@M1cha I was working on an app to capture Wi-Fi packets using USB adapters that supported monitor mode and had hoped LKL would let me re-use Linux's ieee80211 stack + USB drivers. Haven't had a chance to try it again.

[2016-10-14 09:18] M1cha opened #250 "official usermode thread support in LKL"
I thought I'd open a new issue for that to not bloat the direct host call PR.

@tavip how does your solution work? Did you write your own threading library or did you find a good one which you can use in lkl?

I'd also be happy to help improving/testing your code

[2016-10-15 02:10] weiqiandai opened #251 "What is the best way to port the lkl code back old linux kernel(like 3.2.16)?"
Try to find out the list of files outside arch/lkl that LKL modified. Look like the master branch don't have the latest tag (the last one in the master branch is v4.7-rc7) - not v4.8.
Need to study the diff and port the LKL code to based on old linux kernel (like 3.2.16).
Would like to get your suggestion to accomplish this task.
thanks,
Weiqian

[2016-10-15 05:28] M1cha commented on #251
you can use git diff c8d2bc9 for that. c8d2bc9 is that latest merged upstream tag.
If you do a 'git diff --stat --diff-filter=M c8d2bc9' which excludes new fails and only shows a statistics instead of a full diff you can see that the number of changes is actually very small:

[code]

[2016-10-15 23:31] hkchu opened #252 "Enabling SMP support?"
LKL is currently single threaded. Does anyone know or have experience enabling SMP on an arch port like LKL? We may have use cases in the near future that requires performance attainable only through the parallel use of multiple CPUs and I wonder how easy/difficult this work may be.
Thanks.

[2016-10-16 19:03] M1cha commented on #252
Isn't that wrong? lkl heavily uses threads for syscalls, kthreads, etc.

[2016-10-16 21:46] tavip commented on #252
@M1cha What Jerry is saying is that we can only run one system call at a time, which, on multi processor systems is limiting the amount of work we can do with one instance.

@hkchu some of the work I did for #246 has multiple CPU support in mind (see the "CPU access" patch), although I don't have a strict timeline in mind. The next item on my TODO list is user level threads (for hosts such as UEFI

[2016-10-22 06:27] M1cha commented on #211
crazy idea: why don't we just use the original mount command(from busybox or core-utils) and either change the source or use LD_PRELOAD to change the 'mount' syscall to a lklfuse function call?
This way you could use all the features that come with that command including fs detection.

[2016-10-22 13:36] eu41 commented on #211
Check attached FreeBSD /etc/fstab:

[fstab.txt](https://github.com/lkl/linux/files/545809/fstab.txt)

"mount /mnt/windows" works, while "mount /mnt/gentoo" fails

Puzzling why ntfs-3g works fine and has no problems processing all the mounting options, one of them
specific to that filesystem, while lklfuse cannot do the same and fails.

[2016-10-23 07:14] lamiaaMB opened #253 "build tools/lkl failed"
I'm building the lkl tools on Ubuntu 15, and I'm getting this error when I use the command
make -C tools/lkl

Regards,

[2016-10-24 07:05] tavip commented on #253
Hi @lamiaaMB , thanks for reporting this. Can you please paste the last 20-30 lines of the build?

[2016-11-02 17:28] liuyuan10 commented on #147
Fixed by #246

[2016-11-02 17:28] #147 closed

[2016-11-02 17:29] liuyuan10 commented on #155
Fixed by #246

[2016-11-02 17:29] #155 closed

[2016-11-03 03:05] liuyuan10 commented on #51
I tried to use dlmopen to have multiple LKL instance in one process. I found the tls doesn't work with dlmopen. I wrote a simple program to prove it:
https://raw.githubusercontent.com/liuyuan10/linux/5bf7ebe0a7c6e3a695148b749b147c2de81d3c26/tools/lkl/tests/test-tls.c

To run:
cd tools/lkl
gcc test-tls.c -ldl -Iinclude
./a.out

Output:
num = 0
tls_alloc key = 0
tls_get value = 0
tls_get value = 100

[2016-11-04 04:45] stfairy commented on #51
I debugged this before, and there was a bunch of TODOs regarding TLS in the glibc code base.  I might have written down my findings somewhere (e.g. snippets).

[2016-11-04 05:17] thehajime commented on #51
I played a bit with @liuyuan10's test code and confirmed the bug (I'm with glibc 2.23.1-10 of fedora 24).

We had our own loader instead of glibc which reimplements dlmopen etc for our use (of ns-3).  Our original motivation was to avoid the hard limit of the number of instances with glibc (i.e., 16, `# define DL_NNS 16`).

http://code.nsnam.org/mathieu/elf-loader/
http://code.nsnam.org/thehajime/

[2016-11-04 18:20] liuyuan10 opened #259 "BFD linker can't output .note.GNU-stack section which leads to executable stack"
To reproduce:
apply patch:
--- a/tools/lkl/Makefile
+++ b/tools/lkl/Makefile
@@ -124,7 +124,7 @@ endif

 lib/lkl.o:
        $(Q)$(MAKE) -C ../.. ARCH=lkl $(KOPT) defconfig
-       $(Q)$(MAKE) -C ../.. ARCH=lkl $(KOPT) install INSTALL_PATH=$(CURDIR)
+       $(Q)$(MAKE) -C ../.. ARCH=lkl LDFLAGS="-z noexecstack" $(KOPT) install INSTALL_PATH=$(CURDIR)

$ cd tools/lkl
$ ls -al `which ld`
/usr/bin/ld -

[2016-11-07 20:16] spoiledsport opened #260 "Unable to build in Windows (MSYS2)"
After following the setup instruction for windows, I am unable to build. The build is failing with the following error

make: Entering directory '/e/dev/GitHub/LKL/linux/tools/lkl'
Makefile:77: *** Unrecognized platform: pe-x86-64.  Stop.
make: Leaving directory '/e/dev/GitHub/LKL/linux/tools/lkl'

Any clues?

[2016-11-07 22:07] Rondom commented on #260
Build for 32-bit (easiest by using the "MINGW32" shell). See #25

[2016-11-08 00:42] thehajime commented on #240
is your default route on wifi when you tested this ?

I'm aware of this that macvtap test, which assumes various things (e.g., icmp is not filtered to 8.8.8.8, on ethernet), isn't perfect.  maybe we can skip the test if we see in advance.

[2016-11-16 03:50] liuyuan10 opened #264 "Ask for suggestion of building a liblkl.so without libc"
dlmopen of liblkl.so brings so many troubles and one that I can't get around is limitation of static TLS. Now liblkl.so depends on libc which may use static TLS. At runtime, the amount of static TLS is fixed so dlmopen may fail.

To overcome this, I'd like to introduce another layer like struct lkl_libc. It's similar to lkl_host_ops but only accessible in tools/lkl/lib. So struct lkl_libc looks li

[2016-11-16 08:46] thehajime commented on #264
just curious - are you going to re-implement pthread used in posix-host.c ?

actually #255 has two libc implementation when it's integrated with frankenlibc - 1) frankenlibc, an implementation of libc functions for underlying host (linux, netbsd, freebsd, qemu-arm, etc) used by host_ops (or rump hypercalls), and 2) musl-extended libc for upper applications.

so, though i'm not quite sure what the

[2016-11-16 09:17] thehajime opened #265 "CONFIG_HZ matters ? : BBR with LKL"
I'm playing with Google's new TCP cc flavor, BBR, with LKL and saw some odd behavior if CONFIG_HZ is 100.

- netperf TCP_STREAM test between an LKL-netperf and a pure Linux netserver.

cc | hz | tput
-----|------|----------------------
bbr |HZ=100 |    456.43 Mbps
cubic| HZ=100 | 9385.28 Mbps
bbr| HZ=1000  | 6965.05 Mbps
cubic| HZ=1000 |  9393.35 Mbps

(raw output: https://gist.github.com/thehajim

[2016-11-16 19:52] liuyuan10 commented on #264
Embarrassing. Turns out I don't have to use dlmopen but rename liblkl.so multiple times and I'm able to load LKL tens of times this way. It helps to avoid all the troubles from dlmopen and I'm happy to get rid of it.

Closing it... Sorry for the noise.

[2016-11-16 19:52] #264 closed

[2016-11-18 02:14] liuyuan10 opened #266 "Is LKL usage of setjmp correct?"
As far as I know, setjmp must be used inline so the the stack is still alive when long jmp happens. ["And some esoteric tasks (generally requiring the use of assembly code, such as setjmp and certain kinds of locking) must be performed inline or they won't work right."](https://www.kernel.org/doc/local/inline.html)

But the way we use setjmp in LKL is not inlined so I'm worried this may be cause o

[2016-11-18 09:46] tavip commented on #266
Yes, your are right. In the initial implementation I used a different host ops API for setjmp to avoid this issue, but during cleanups I've forgot why I did it that way and scraped it :( I will post a PR to fix this issue soon.

[2016-11-18 12:59] tavip commented on #260
Duplicate of #25, closing this issue.

[2016-11-18 12:59] #260 closed

[2016-11-19 09:50] #266 closed

[2016-11-24 00:35] liuyuan10 commented on #245
I sent an one-line fix to upstream. Hopefully I won't get kicked :)

[2016-11-24 05:55] M1cha commented on #245
can you post a mail archive link here for reference?

[2016-11-25 01:28] liuyuan10 commented on #245
I sent the mail to virtualization@lists.linux-foundation.org but can't find a archive link with my mail. Here is the mail I sent

From: Yuan Liu <liuyuan@google.com>

Fix a warning thrown from virtio_mmio_remove():
Device 'virtio0' does not have a release() function

The fix is according to virtio_pci_probe() of
drivers/virtio/virtio_pci_common.c

Signed-off-by: Yuan Liu <liuyuan@google.com>
---

[2016-11-25 03:27] liuyuan10 commented on #245
Looks like this link only includes mails sent by the maintainer:
http://virtualization.linux-foundation.narkive.com/cJ0R9zlc/patch-virtio-mmio-set-dev-release-to-avoid-warning

[2016-11-28 18:47] liuyuan10 commented on #51
An update on this issue. I gave up dlmopen and successfully runs many LKL instances in a process by renaming liblkl.so. Issues with dlmopen are
* tls_alloc in two different namespace don't create different keys as described above
* Has to load librt/libc in each namespace and hit the limitation of number of static TLS.
* lkl_start_kernel in different thread crashes

I'm closing this issue given th

[2016-11-28 18:47] #51 closed

[2016-11-29 13:35] thehajime commented on #51
@liuyuan10 great to hear that.

it would be great if you could share your multi-lkl application as an example (or test code) for the future reference.

[2016-11-29 14:07] thehajime commented on #265
adding the following function to arch/lkl/kernel/time.c alleviates this issue.

[code]

for more detail in https://github.com/lkl/linux/blob/master/Documentation/timers/timekeeping.txt#L107

This will introduce more frequent calls of `lkl_ops->time()` - I'm really worried about the performance degradation with this.  @liuyuan10 @tavip it would be great if you could test the above patch (adding sch

[2016-11-29 18:48] liuyuan10 commented on #265
I can't observe any performance issue of it. According to  the doc you refer to, sched_clock should start from 0?

[2016-11-29 20:50] liuyuan10 commented on #51
tests/multi_lkl.c
`#define _GNU_SOURCE
#include <dlfcn.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <pthread.h>
#include <lkl.h>
#include <lkl_host.h>

#define NUM_LKL 50
const char TMP_DIR[] = "/tmp";

void * get_sym(void *lib, const char* sym) {
	void *addr = dlsym(lib, sym);
	char *error = dlerror();
	if (error != NULL) {
		fprintf(stderr, "get_sym: %s\n", error);
		ex

[2016-11-30 02:14] thehajime commented on #265
thanks.

thanks too; it should be like the following where boot_time will be set during time_init().

[code]

[2016-12-03 18:18] M1cha opened #277 "idle thread race condition"
First off: I managed to use the latest code with my lk user threads(no idea how it just suddenly worked).
I dunno if it's related to my userthreads but I doubt it so here's the log:

[code]
After that my threading library shows a warning that the system is dead-locked.
The bootstrap/main thread(the external thread which runs syscalls) is in blocking mode, lkl thread called thread_exit and all othe

[2016-12-05 18:07] liuyuan10 commented on #277
If you see "lkl_idle_tail_schedule: not in idle", it means something really bad is happening. Could you check which of (!cpu.idle_pending || !test_bit(TIF_IDLE, &current_thread_info()->flags)) is true? Do you have the stack trace?

[2016-12-08 17:37] M1cha commented on #277
@liuyuan10 @tavip I want to let u know that I've finally fixed my setjmp problem. the cause of all that was that my setjmp function didn't have the gcc attribute 'returns_twice'

unfortunately it didn't fix this deadlock problem. I don't see the lkl errors anymore but I still keep ending up in a dead lock(like 5/1 tries).
Can you explain the threading functionality a little bit especially in conne

[2016-12-08 18:19] liuyuan10 commented on #277
The recursive mutex is needed in such case:
* The kernel thread calls virtio_notify which finally grabs rx virtio queue lock and runs net_rx to receive a packet.
* The same thread triggers a virtio irq to notify the pkt.
* Because we have direct irq now, the same thread runs the irq handler, which may call virtio_notify again and acquire the same rx virtio queue lock.

That's why we need a recursi

[2016-12-08 18:53] M1cha commented on #277
While with posix threads the timer gets always called from the thread which created the timer"
That means that timers are called from an interrupt context. thread_self() dureing  that time will return whatever thread was currently active, which is a different one every time.

"To deal with the deadlock, maybe you can provide a full stack trace of all threads so I can take a look to find out the cu

[2016-12-08 19:58] M1cha commented on #277
I'm now using a thread which calls the timer callback instead of calling it directly from  the interrupt context and surprisingly It didn't dead-lock a single time since then so it looks like it's fixed now in case I didn't just make a race condition very rare.

I thought a little more about it and if sth. inside the timer callback waits for the thread which was running when  the interrupt happene

[2016-12-08 21:41] liuyuan10 commented on #277
Sound like it was the problem. The timer callback calls lkl_trigger_irq which at least try to acquire cpu.lock mutex. If the timer happen to interrupt a thread that holding that lock, then yes, a deadlock happens.

I think it's a common practise not to have blocking calls in an interrupt context.

[2016-12-09 04:50] M1cha commented on #277
I just ran some tests with posix threads in combination with blocking timers and you're right, the threads keep running even when the timer does never return. furthermore when there are no threads(just the default main thread) and the timer is blocking, the main thread can still run and does so with a different pthread_self() pointer even though there's one process only(which I can't explain but I

[2016-12-09 04:50] #277 closed

[2016-12-09 14:09] thehajime commented on #265
Fixed by #276.

[2016-12-09 14:09] #265 closed

[2016-12-20 03:19] weiqiandai commented on #251
Hi Folks,
Need some hint to port the arch/lkl/kernel/time.c back to linux 3.2.16.
Look like it has a major changes between 4.7 and 3.2.16 on the data structure "struct clock_event_device".
The field for enum clock_event_state machine is new.
How can we initialize the structure:
static struct clock_event_device clockevent = {
        .name                   = "lkl",
        .features

[2016-12-22 20:59] petrosagg opened #281 "Using lkl from C++ fails due to reserved keyword"
I'm not sure if using lkl from C++ is in the scope of this project but I do see `#ifdef  __cplusplus` in the header. If it's out of scope please ignore this.

I created a very small test program in C which compiles fine:
[code]

However, the same simple program in C++ fails because the `struct virtio_net_ctrl_hdr` defined in `linux/virtio_net.h` has a member named `class` which is a reserved keywo

[2016-12-22 21:23] tavip commented on #281
Good catch, we should rename class to something else, PRs welcomed :)

[2016-12-22 23:49] #281 closed

[2016-12-23 22:53] liuyuan10 commented on #245
The fix has been merged to linux upstream:
https://github.com/torvalds/linux/commit/cecdbdc3771e5b8583a9b43b03335b4223a9a6c9

[2016-12-24 06:32] M1cha commented on #245
the patch will be in 4.10 then ( we didn't even merge 4.9 yet :D )

[2016-12-24 08:50] thehajime commented on #245
I'm about to submit a pr on 4.9 merge. FYI.

[2016-12-24 20:01] liuyuan10 opened #285 "lkl make test hangs"
Seems to me net-test is waiting dhcp and hangs for a long time if it doesn't work. We shouldn't expect the test is always run in an environment that has dhcp.

[2017-01-08 21:51] petrosagg opened #287 "Corrupted syscall_defs.h generation on win32"
When building lkl on Windows with msys32 it fails to produce a valid `syscall_defs.h` file:

[code]

Inspecting the file reveals that there are null bytes sprinkled in the beginning of  some lines. It's not all the lines and there can be one, two, or three consecutive null bytes at a time. I can't see any pattern.

[code]

This file is produced with objcopy from a section of `vmlinux`. If I postpr

[2017-01-09 10:33] #287 closed

[2017-01-09 22:36] petrosagg opened #289 "MSYS2 toolchain no longer works out of the box"
In March MSYS2 rolled back the version of binutils to 2.15 that doesn't include the weak NT externals patches. https://github.com/Alexpux/MSYS2-packages/commit/660ffd3fd117a22f3dff71d80edf56ad4a188c26

One can use the following workaround to install the previous version:

[code]

[2017-01-10 03:45] Rondom commented on #289
I consider it a regression that they dropped the patches for weak externals. Have you tried filing a bug report when them?

[2017-01-10 11:47] petrosagg commented on #289
No, I'll do that now. However I suspect the reason is that that the patches don't apply cleanly on binutils 2.25.1. I'm rebasing them now and I'll PR them to MSYS2.

[2017-01-10 13:14] petrosagg commented on #289
I sent a PR. @tavip I had to do some minor changes to your patches in order for them to apply on 2.25.1. If could take a look at them it would be great since I'm not very familiar with the binutils codecase. https://github.com/Alexpux/MSYS2-packages/pull/785

[2017-01-10 19:36] tavip commented on #289
The changes looks good to me, I've left a message in the PR too :) More importantly, if the LKL buid and tests pass, it should be fine, since it stresses this feature pretty well.

[2017-01-11 20:24] copumpkin opened #290 "A rump-style fs-utils tool on top of LKL"
One of the things I find most exciting about LKL is its potential to enable a much more complete https://github.com/rumpkernel/fs-utils. fs-utils is great, but only supports a limited set of filesystems. It would be great to use LKL to get a similar interface on top of the linux filesystem drivers (ideally including partition support). Is such a project planned or does it already exist? I'm having

[2017-01-11 21:51] tavip commented on #290
If I correctly undestand your question, then yes, we already have a tool that can be used to mount via fuse filesystem in userspace, without root access (for Linux): it is called lklfuse and it builds by default. We recently added support for partitions.

If you can't / don't want to use fuse, we have a couple of basic tools to copy from/to filesystem images. See the lkl tools paragraph in the rea

[2017-01-11 23:59] copumpkin commented on #290
Ah yes, `cptofs` looks almost perfect, even supporting the partition stuff. I'll give it a whirl and see if it matches my expectations, thanks!

[2017-01-11 23:59] #290 closed

[2017-01-12 06:43] copumpkin opened #291 "cptofs doesn't support symlinks"
I cloned this repo (lkl/linux) to my local machine and attempted to use `cptofs` to copy it into a partitioned disk image as follows:

[code]

~~The "unsupported entry type" message seems to be produced by something related to `tar`~~, but I'm not sure what it means beyond that. Anyone know what's up and whether it's a `cptofs` bug or just PEBKAC?

[2017-01-12 06:44] copumpkin commented on #291
Aha, `cptofs` doesn't like symlinks? A random sampling of the files listed there are symlinks.

[2017-01-12 09:54] tavip commented on #291
Yes, that is correct. I'll try to fix it over the week-end. BTW I found that lklfuse is easier to use in practice,  did you try it, or is there something particular in your usecase that does not work with lklfuse?

[2017-01-12 10:55] Rondom commented on #291
I can say that lklfuse works great.
I have done a thorough investigation on accessing disk-images, I will post a longer comment on Friday or Saturday.

[2017-01-12 15:21] copumpkin commented on #291
@tavip is it harder than just adding a call to create a link in the target filesystem under the switch? If so I can probably throw together a PR doing the simple thing. I won't pretend to understand the intricacies of this stuff but the rest of the switch statement had a clear pattern and I can easily replicate that if it's that simple 😄

The reason I'm not using `lklfuse` is that I need to run th

[2017-01-12 15:52] tavip commented on #291
@copumpkin It should be relatively simple to add the rest of unimplemented bits, and a PR will be greatly appreciated :)

[2017-01-14 07:44] petrosagg opened #292 "Windows: Corrupted COFF symbol table"
When trying to link liblkl.a using the MSVS linker it fails with the following error:

`LNK1314: corrupt or invalid COFF symbol table (undefined static or label symbol)`

I made a minimal test case using the following C program which comes from minimising `kernel/sys_ni.c`

[code]

After compiling this program with `i686-w64-mingw32-gcc -c -o a.o a.c` and inspecting the object with `i686-w64-mingw

[2017-01-14 18:39] spoiledsport opened #293 "Unable to build in WSL ubuntu (cross compile)"
I am unable to cross compile in Windows 10 WSL. Any idea what the problem could be? This is the last part of the build log. I am running the command
make CROSS_COMPILE=i686-w64-mingw32- -C tools/lkl

CC /home/edisonmcastro/src/lkl-linux/tools/lkl/lib/iomem.o
CC /home/edisonmcastro/src/lkl-linux/tools/lkl/lib/net.o
CC /home/edisonmcastro/src/lkl-linux/tools/lkl/lib/jmp_buf.o
CC /home/edisonmcastro/

[2017-01-14 19:01] staalmannen commented on #292
On Fri, Jan 13, 2017 at 11:44:05PM -0800, Petros Angelatos wrote:

I thought that libraries built with gcc were not compatible with MSVC ?
I tried before to build lkl using the new Clang/C2 (lkl with llvmlinux
patches) specifically because of that (to have MSVC-compatible lkl
libraries).

Since I did not need it myself and it was mostly out of curiosity I did
not pursue it further.

[2017-01-14 19:18] petrosagg commented on #292
@staalmannen while there are some things to take into account like name mangling it is possible to link a GCC produced dll/object file in MVSC. http://www.mingw.org/wiki/msvc_and_mingw_dlls

But this issue is not directly related to the interoperability of the two compilers, it's just the the MSVC linker uncovered the issue. The object files are still corrupted when inspected in a pure GCC environ

[2017-01-14 20:30] petrosagg commented on #293
This is because you need patched binutils. See issue #289

[2017-01-16 17:06] copumpkin commented on #291
@tavip I made the PR to #294!

[2017-01-16 17:33] copumpkin opened #295 "cpfromfs seems to inject unpredictable prefix into filesystem"
I ran the following commands:

[code]

Which leads to the following in `~/linuxcopy`:

[code]

I think that `0000fe01` is an implementation detail of `cptofs` and shouldn't appear in the output. Furthermore I don't think it's constant, so I can't just ask `cpfromfs` to copy starting from that mount point.

[2017-01-16 18:23] copumpkin opened #296 "It would be nice if cptofs supported multiple source arguments"
I think the LKL stuff takes some time to initialize, which makes repeated calls to `cptofs` rather slow.

[2017-01-16 20:06] copumpkin opened #297 "Option to skip outermost directory entry in cptofs"
Given my last ticket #296, I decided to instead copy my target filesystem into a temporary folder and then bulk `cptofs` from that temporary folder into the root of the target image. Unfortunately, `cptofs` insists (as far as I could tell) on putting the outermost directory in the root. So for example if I create `$TMP/target-root` and then put `bin`, `etc`, and so on into there. Then calling `cpt

[2017-01-16 22:01] tavip commented on #295
Good catch, I think we need to issue lkl_sys_chroot to the internal LKL mount point, just like we do in lklfuse.c

[2017-01-16 22:04] copumpkin commented on #297
I'm willing to write a PR to fix this but am not sure of how best to do it without changing the general shape of the directory traversal code. Open to suggestions if anyone more familiar with the code can see a trivial fix 😄

[2017-01-16 22:07] #291 closed

[2017-01-16 22:11] copumpkin commented on #297
I can see a not-terribly-shitty way to do it by adding a "boolean" to `searchdir` and `do_entry`, and then setting that boolean at the outermost level and not setting it in recursive calls, based on a command-line flag. Still feels a bit hacky though.

[2017-01-16 23:22] spoiledsport commented on #293
Even using those binaries, the build failed. I also have the same problem using Ubuntu 16.4 image running under Hyper-V on Windows 10. Anything else that I should be doing? Any commands I should run to verify that I am using the right version of binutils? I am also going to try to build under Windows with MSYS2 and see what happens.

Please let me know what you guys think

[2017-01-16 23:35] Rondom commented on #293
@petrosagg Unfortunately no. It does not work if you put them into the path. GCC will call the LD that is in the same directory as itself. It will not look in the path. I learned this the hard way myself :-(

[2017-01-17 00:56] copumpkin commented on #297
#298 sort of addresses this by letting me write `foo/*` as a source and having the shell take care of doing the outermost expansion

[2017-01-17 01:35] spoiledsport commented on #293
Can you share you binary (64 or 32 bit) for windows if you have it, please?  I also tried building in MSYS2 and I am not able to either. With the 64 bit shell, I am getting

$ make -C tools/lkl
make: Entering directory '/e/Dev/GitHub/lkl/linux/tools/lkl'
Makefile:78: *** Unrecognized platform: pe-x86-64.  Stop.
make: Leaving directory '/e/Dev/GitHub/lkl/linux/tools/lkl'

With the 32 bit shell

$ m

[2017-01-17 02:04] petrosagg commented on #293
@spoiledsport I tested on my machine and the build is definitely using the `ld` from `tools/lkl/bin`, I deleted the system wide one and it ran fine. I'm building using `make -j4 CROSS_COMPILE=i686-w64-mingw32- -C tools/lkl` on Arch linux.

If you didn't build binutils for MSYS2 from source or didn't put `tools/lkl/bin` in your path (using absolute paths) and used `CROSS_COMPILE=i686-w64-mingw32-`

[2017-01-17 02:29] petrosagg commented on #293
Regarding the Ming32 shell, I also never managed to make it work and was getting the same error.

[2017-01-17 02:47] spoiledsport commented on #293
Thanks for helping on this one. I was able to get my compile to work by removing the files in /usr/bin. I am able to build the dll
:-)

You have been very helpful. Is this dll 32 bit then? If there any way to create a 64 bit?

Once again, thanks for all your help. I really appreciate your sticking with me on this one.

[2017-01-17 07:24] Rondom commented on #293
64-bit is not supported on Windows: #25

[2017-01-17 15:27] copumpkin opened #299 "Proposal: have cptofs support a simple script file that instructs it on what to copy into/out of an image"
#296 mentions that LKL can take some time to initialize which makes it impractical to call `cptofs` in a loop to put different things into it. #298 alleviates some of that pain, but doesn't handle cases like the following:

1. Create folder `/path/a/b/c` in the image
2. Copy the host's `/another/path/foo`, `/another/path/bar`, `/another/path/baz` into `/path/a/b/c`
3. Copy the host's `/yet/another

[2017-01-18 00:27] petrosagg commented on #296
I found that the inialisation is slow only because the kernel does some performance tests to select the fastest algorithm for `raid6` and `xor`, both of which are dependencies of `btrfs`. If you compile LKL without btrfs support initialisation is almost instantaneous.

There are runtime performance tests for [gen_syndrome](https://github.com/lkl/linux/blob/master/lib/raid6/algos.c#L252-L253), [rai

[2017-01-18 02:17] Rondom commented on #292
Maybe, once this issue is fixed, we can have another try at upstreaming the patch.

[2017-01-18 19:03] tavip commented on #299
Can you try disabling btrfs / raid6 / crypto stuff in .config and see if now calling cptofs multiple times is feasible?

Implement fs support in the hijack library (which is quite simple) would not solve the problem. We need to support multiple processes with the same instance of LKL, to avoid multiple initializations. This would  require creating a ptrace based "hijacker", adding support for sepa

[2017-01-18 21:17] tavip commented on #295
@copumpkin can you please test #300 ?

[2017-01-18 21:26] tavip commented on #296
@copumpkin  Closing this now that #298 was merged.

@petrosagg I think the best way to solve the slow start issue is to implement loadable modules and compile btrfs and the dependecies as modules. That is tracked in #63. I am working on that, but I think it is still a few weeks until completion. Feel free to open a new issue if you need a faster resolution, and in that case we can do the temporary

[2017-01-18 21:26] #296 closed

[2017-01-18 22:08] tavip commented on #297
@copumpkin I think this is the correct behavior, cp -r does the same.

[2017-01-18 22:10] copumpkin commented on #297
@tavip not quite though: if I call `cp -r foo dest` it behaves differently from `cp -r foo/ dest`. The latter skips the outermost entry, whereas the former copies it too.

[2017-01-18 22:12] copumpkin commented on #297
Perhaps that's just a darwin thing though? http://serverfault.com/questions/11518/recursive-cp-copies-folder-contents-instead-of-folder-on-os-x

[2017-01-18 22:14] tavip commented on #297
I think so since on my Linux machine cp -r foo dest and cp -r foo/ dest both copy the folder.

[2017-01-18 22:16] copumpkin commented on #297
I see. That's probably more sensible either way. Now that we support multiple source arguments, this issue should be roughly equivalent to using `foo/*` as a source anyway (unless you're copying a massive directory that exceeds the argument limit, which is unlikely), so I'll close for now.

[2017-01-18 22:16] #297 closed

[2017-01-18 22:16] copumpkin commented on #296
Thanks! I'll keep an eye on the loadable modules, which sounds really cool. Definitely not in a rush, now that I have something that works fine.

[2017-01-18 23:21] thehajime opened #301 "slow start issue with btrfs enabled lkl"
reported by @petrosagg
https://github.com/lkl/linux/issues/296#issuecomment-273345189

[2017-01-18 23:21] thehajime commented on #296
although loadable module sounds nice, the slow start issue is different one I think (you will face the same issue when loading an object file of btrfs).

I filed an issue for that (#301).

[2017-01-18 23:43] tavip commented on #301
@thehajime @petrosagg I think this is an upstream issue, and it should be fixed upstream just like the virtio issue fixed by @liuyuan10. We can keep this issue here, just to track it, but I don't think we should patch LKL.

[2017-01-19 00:09] thehajime commented on #299
for the multiple process support with a single LKL instance, we may (also) have a system call proxy, as rump kernel does (my RFC patch #255 partially includes).  ptrace may do too, but be known slow.

(off topic, sorry)

I think I wanted to have a road map (set of goals) for this project, since we've been almost more than 1> year but still no update on LKML.  having many numbers of wish list is re

[2017-01-19 06:15] BoydYang opened #302 "Could it use some encryption function?"
Like DM-crypt, ecryptfs or EncFS for file system.
Does LKL support them?

[2017-01-19 06:59] M1cha commented on #302
yes it does work. I'm able to mount encrypted Android partitions in UEFI thx to LKL.
https://github.com/efidroid/uefi_apps_LKL/blob/master/Init.c#L197

[2017-01-19 09:55] #295 closed

[2017-01-19 18:01] tavip opened #304 "Upstreaming LKL"
This issue is for discussing and tracking our upstream strategy.

[2017-01-20 02:17] #302 closed

[2017-01-20 14:23] M1cha commented on #304
have there ever been any attempts to do so?
I'd really like to read Linus's view on that since this is a rather unusual port.

[2017-01-22 02:55] petrosagg commented on #301
@tavip that makes. We can still avoid the XOR tests though by defining `XOR_SELECT_TEMPLATE` just like the x86 arch

[2017-01-22 06:40] spoiledsport commented on #25
I am trying to open this one again. I have been able to compile 64bit version in windows using MSYS2. I made very few directed changes in two makefiles and one KConfig file to address missing pe-x86-64. The compilation proceed normally. It generate the vmlinux file.

using the objdump command
 objdump -f vmlinux

I get
vmlinux:     file format pe-x86-64
architecture: i386:x86-64, flags 0x00000039:

[2017-01-22 13:10] Rondom commented on #25
MSYS2/Cygwin are LP64, so there is no problem there. This is issue is about "native" MinGW 64-bit, which is LLP64.

Therefore I think what you are describing is some other issue.

[2017-01-22 13:14] Rondom commented on #301
@petrosagg It may be a bit challenging to accomplish in a maintainable fashion, but we should try to choose the method depending on the arch IMO.

[2017-01-22 13:39] tavip commented on #301
@petrosagg it looks like regs8 is a good choice for both 32 and 64bits. I will submit a PR soon with that choice and we can refine it later, per arch, if we need.

[2017-01-22 16:00] spoiledsport commented on #25
Rondom

MinGW has nothing to do with this. This is MSYS2. The problem is not related to LP64/LLP64. This is related to problems with GCC. I see that this is a common problem with large codebases. I actually changed the build configuration to LD in the Makefile as suggested in many different newsgroups., but that came up with different issues.

I added the link options -mcmodel=large -shared, now I

[2017-01-22 16:14] spoiledsport commented on #25
I will open a new issue with more clean understanding and explanation

[2017-01-22 16:19] spoiledsport opened #306 "Windows 64 bit MSYS2 Build (LP64)"
I have been able to compile 64bit version in windows using MSYS2. I made very few directed changes in two makefiles and one KConfig file to address missing pe-x86-64. The compilation proceed normally. It generate the vmlinux file.

using the objdump command
objdump -f vmlinux

I get
vmlinux: file format pe-x86-64
architecture: i386:x86-64, flags 0x00000039:
HAS_RELOC, HAS_DEBUG, HAS_SYMS, HAS_LOCA

[2017-01-22 20:14] spoiledsport commented on #306
More updates on this one. I think LK_syscall is not being included somehow. I added some LDFLAGS and CFLAGS to the build based on other reported issues in the internet. Those look now as

CFLAGS += -DCONFIG_AUTO_LKL_NT_HOST -Wl,--image-base -Wl,0x10000000
LDFLAGS +=-Wl,--image-base -Wl,0x10000000

I am  not getting those relocation errors anymore. The dll build is still failing.

gcc -Wl,--image-b

[2017-01-22 20:22] tavip commented on #306
This seems to point to the fact that the lkl_syscall and the other symbols are not properly exported. Check the following line in arch/lkl/Makefile:

lkl.o: vmlinux
        $(OBJCOPY) -R .eh_frame -R .syscall_defs $(foreach sym,$(LKL_ENTRY_POINTS),-G$(prefix)$(sym)) vmlinux lkl.o

 What does nm -g lkl.o shows?

[2017-01-22 21:18] spoiledsport commented on #306
nm -g lkl.o
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.text
                 U .exit.tex

[2017-01-22 21:22] spoiledsport commented on #306
$ nm -g tools/lkl/lib/lkl-in.o
0000000000000000 R .refptr.lkl_dev_blk_ops
0000000000000000 R .refptr.lkl_host_ops
                 U ___chkstk_ms
                 U __errno
                 U __getreent
                 U __imp_CloseHandle
                 U __imp_CreateEventA
                 U __imp_CreateMutexA
                 U __imp_CreateSemaphoreA
                 U __imp_CreateThread

[2017-01-22 21:39] spoiledsport commented on #306
Lastly, this is the relevant compile that points to the makefile line you pointed out above

+ objects='  init/built-in.o                                                    --start-group                 usr/built-in.o  arch/lkl/kernel/built-in.o  arch/lkl/mm/built-in.o  kernel/built-in.o  certs/built-in.o  mm/built-in.o  fs/built-in.o  ipc/built-in.o  security/built-in.o  crypto/built-in.o  block/

[2017-01-22 22:31] spoiledsport commented on #25
#306

[2017-01-22 22:43] spoiledsport commented on #306
syscalls.o

$ nm -g arch/lkl/kernel/syscalls.o
0000000000000000 R .refptr._current_thread_info
0000000000000000 R .refptr.init_pid_ns
0000000000000000 R .refptr.lkl_idle_tail_schedule
0000000000000000 R .refptr.lkl_ops
0000000000000000 R .refptr.schedule
                 U _current_thread_info
                 U arch_local_irq_restore
                 U arch_local_save_flags
                 U dev

[2017-01-22 23:39] Rondom commented on #25
I think there was a misunderstanding. What I meant to say was that your linker-issue is unrelated to this one and is thus better dealt with in a separate issue.

[2017-01-27 14:56] spoiledsport commented on #306
EUREKA... EUREKA.....

I am now able to build the dll. The problem was I copied a variable in the makefile that appended an underscore to the exported function.

arch/lkl/makefile :

else ifeq (,$(filter $(OUTPUT_FORMAT),pe-i386,pe-x86-64 ))
prefix=_

I am going to test it and provide feedback.

[2017-01-29 07:26] M1cha commented on #252
@tavip shouldn't this be fixed now since #246 is merged?

[2017-01-31 01:48] lurch commented on #299
It might be nice to re-use the initramfs format (or maybe just a subset, as appropriate) used by `gen_init_cpio` (see https://www.kernel.org/doc/Documentation/filesystems/ramfs-rootfs-initramfs.txt for more info) as that also gives you much more fine-grained control than "just copying files" into the FS.
[code]

[2017-01-31 10:51] copumpkin commented on #299
That would be very cool! Not sure how hard though: is a parser and processor of that format already in the kernel in a reusable way?

[2017-01-31 11:20] lurch commented on #299
It looks like all the details are in http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/tree/usr/gen_init_cpio.c?id=HEAD - not sure how re-usable any of it is though?
I just thought it might be a useful file-format to start from, instead of re-inventing the wheel ;-)  (although looking in detail, it seems this format doesn't (yet) support recursive directory copies, or different mtimes

[2017-02-05 02:00] spoiledsport commented on #306
support added and tested #308

[2017-02-05 02:00] #306 closed

[2017-02-05 21:17] spoiledsport opened #312 "Question : Does the output of cptofs in Windows 64 looks correct?"
Guys

After testing my Windows 64 (LP64) build and making changes to compile cptofs, when I run the command to copy a file called build to an ext image

E:\Dev\GitHub\spoiledsport\linux\linux\tools\lkl>cptofs.exe -p -t ext3 -i sample.img build

I get the following output

[    0.000000] Linux version 4.9.0+ (ediso@DESKTOP-PPLRP4G) (gcc version 6.3.0 (GCC) ) #1 Sun Feb 5 14:40:15 EST 2017
[    0.00

[2017-02-07 11:04] BoydYang opened #313 "Does LKL support kernel crypto API AF_ALG?"
After kernel configuration, does it work well?

[2017-02-15 09:14] lamiaaMB commented on #253
Hi tavip,
I'm sorry for being that late, kindly find below the lines you asked for

  REPLACE	/home/lamiaa/Documents/linux-master/tools/lkl/include/lkl/linux/poll.h
  REPLACE	/home/lamiaa/Documents/linux-master/tools/lkl/include/lkl/linux/ioctl.h
  REPLACE	/home/lamiaa/Documents/linux-master/tools/lkl/include/lkl/linux/fs.h
  REPLACE	/home/lamiaa/Documents/linux-master/tools/lkl/include/lkl/linux/

[2017-02-15 12:19] laijs opened #330 "posix host: the timer create one ephemeral thread per one ticket"
it is waste.
you can observe the ephemeral threads created/exited for every ticket by using `make gdb`.

https://github.com/lkl/linux/blob/311a4ee02b5e73a817d8640221602222aad267c6/tools/lkl/lib/posix-host.c#L266

[2017-02-15 14:21] thehajime commented on #330
@laijs what do you mean by `make gdb` ?

one alternative is #250 to use green threads, others would be thread pool-like implementation.

[2017-02-15 14:30] laijs commented on #330
it is not easy to observe this behavior, `make gdb` is the best way to observe it in the test.

one ephemeral thread per one ticket  is too much, we need to change it to use several threads instead. example: only one dedicated timer thread.

[2017-02-15 14:32] laijs commented on #330
it is unrelated, timer_create() will create a pthread. it is not controlled by lkl-kernel.

[2017-02-16 00:30] thehajime commented on #330
(thanks, I wasn't aware of `make gdb` in tools/lkl/Makefile)

if I understood correctly, creating/deleting one pthread per one clockevent makes huge overhead of creating pthread, context switches, etc.  I thought green threads instead of pthread (including rewriting timer library, #250) helps to address those situations.

a thread pool (also replacing timer API) does the same.

[2017-02-16 00:40] laijs opened #331 "panic when double TEST(syscall_thread)"
simply change the test:
[code]

result(100% reproduce rate)
[code]

gdb shows it there is a segmentation fault happened when the main() returns.
[code]

[2017-02-16 04:48] liuyuan10 commented on #330
I find this link can be helpful:
http://stackoverflow.com/questions/32283171/signal-handler-in-a-separate-pthread-using-timer-create

The extra cost is parallel with LKL so it may not improve latency &
throughput that much. But it can save overall CPU cost of LKL.

On Wed, Feb 15, 2017 at 4:30 PM, Hajime Tazaki <notifications@github.com>
wrote:

[2017-02-16 05:40] laijs commented on #330
librt uses `rt_sigtimedwait()` internal to implement the timer, the posix-host subsystem can also use a dedicated thread to use rt_sigtimedwait() and trigger the irq.

[2017-02-16 08:12] thehajime commented on #285
Fixed by #324.

[2017-02-16 08:12] #285 closed

[2017-02-16 09:25] tavip commented on #330
I thought about the dedicated thread approach, but you can only implement it safely (i.e. make sure the signal is coming to the dedicated thread) only in Linux (see SIGEV_THREAD_ID in timer_create) which would make it non-posix.

[2017-02-16 10:33] BoydYang opened #333 "Can udev be enabled to work?"
After below configuration from http://git.kernel.org/cgit/linux/hotplug/udev.git/tree/README?id=HEAD
  - These options are required:
      CONFIG_DEVTMPFS=y
      CONFIG_HOTPLUG=y
      CONFIG_INOTIFY_USER=y
      CONFIG_NET=y
      CONFIG_PROC_FS=y
      CONFIG_SIGNALFD=y
      CONFIG_SYSFS=y
      CONFIG_SYSFS_DEPRECATED*=n
      CONFIG_UEVENT_HELPER_PATH=""

  - These options might be needed:

[2017-02-16 11:14] Rondom commented on #333
What exactly is your use case?I compile lkl with devtmpfs and it is enough for my needs i.e. I don't need to create device nodes manually using mknod, which is convenient.Udev is a userspace daemon. Currently lkl does not support multiple processes. It might be possible using frankenlibc once lkl supports multiple processes using the rump syscallproxy @thehajime is developing support for that (cor

[2017-02-16 11:21] tavip commented on #333
@Rondom do you think we could use this by default and remove the mknod operations in lk_dev_mount?

[2017-02-16 12:09] Rondom commented on #333
Enabling devtmpfs by default would indeed provide a more convenient out-of-the-box experience. I am not sure, whether people object to making it mandatory by removing those mknod-operations.

From the top of my head, one challenge I can think of is races: I am not familiar enough with devtmpfs to know how to deal with races where device nodes are not available on time ('$ udevadm settle` usually d

[2017-02-16 20:31] #331 closed

[2017-02-17 02:50] BoydYang commented on #333
I create a device in /dev/xxx with lkl_sys_mknod(), but there is no correcting symbol link in /sys/dev/block/a:b.
Does udev or devtmpfs automatically create the symbol link in /sys/dev/block/a:b?
@Rondom @tavip  Thanks!

[2017-02-21 06:21] lamiaaMB commented on #253
It looks like you don't support ubuntu versions later that 14

[2017-02-21 08:03] thehajime commented on #253
I gave a quick try on my ubuntu  15.04 and 16.04. looks fine both make and make test.
@lamiaaMB could you try to git pull and build again ?

- 15.04
[code]

- 16.04
[code]

[2017-02-21 08:57] lamiaaMB commented on #253
I've just tried to pull the latest update ( after the merge of the request ) and I still get the same error. when I tried to build on a remote machine that has ubuntu 14 installed on it , it built fine

[2017-02-21 09:19] thehajime commented on #253
please describe a bit more about your environment in order to reproduce this issue.

- ubuntu release (lsb_release -a)
- gcc version
- full build log

did you try to `make mrproper` before your build ?

[2017-02-21 09:50] lamiaaMB commented on #253
Ubuntu release : 15.10
gcc version : 4.8
The full build and error logs are attached
Yes, I tried make mrproper before building and got the same error

[blog.txt](https://github.com/lkl/linux/files/789696/blog.txt)
[elog.txt](https://github.com/lkl/linux/files/789695/elog.txt)

[2017-02-21 10:26] tavip commented on #253
@lamiaaMB could you also please attach an archive of the full tools/lkl directory after the build error?

[2017-02-21 10:29] lamiaaMB commented on #253
kindly find it attached
[lkl.zip](https://github.com/lkl/linux/files/789790/lkl.zip)

[2017-02-21 11:55] thehajime commented on #253
@lamiaaMB looks like you're not using the latest lkl tree according to the file lkl/lib/posix-host.c in your lkl.zip (mutex_alloc() is at least the old one).

one thing that was my mistake is make mrproper doesn't clean the tools/lkl directory. `make clean -C tools/lkl` instead may help you.

[2017-02-21 11:56] thehajime commented on #253
I gave a try with 15.10 ubuntu, almost fresh install and fresh clone of lkl, and can't reproduce the issue you reported.

[2017-02-21 12:04] tavip commented on #253
@lamiaaMB can you please run the following command after the build fails (with the /home/tavi/... replaced with your paths)

~/src/linux/tools/lkl$ gcc -Wp,-MD,/home/tavi/src/linux/tools/lkl/lib/.posix-host.o.d,-MT,/home/tavi/src/linux/tools/lkl/lib/posix-host.o -I/home/tavi/src/linux/tools/lkl//include -Iinclude -Wall -g -O2 -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -fno-stric

[2017-02-22 05:15] lamiaaMB commented on #253
@thehajime
I make a new fresh installation and here is the archive after the build failed

[lkl.zip](https://github.com/lkl/linux/files/792286/lkl.zip)

[2017-02-22 05:17] lamiaaMB commented on #253
@tavip
I ran the command and here are the files :

[posix-host.zip](https://github.com/lkl/linux/files/792289/posix-host.zip)

[2017-02-22 07:53] thehajime commented on #253
hmm, still can't reproduce on my 15.10.  changing gcc to 4.7.4 and 4.8.5 from the default one (5.2.1) doesn't help either.

looks like your issue is that a forwarding declartion in host_ops.h (struct lkl_mutex in particular) was interpreted as if an empty declaration with some 'inline' prefix before that.  but I can't find any relevant portion from your posix-host.o so I'm almost lost what's going

[2017-02-22 09:47] tavip commented on #253
@lamiaaMB Thanks. It looks like your  "/usr/include/x86_64-linux-gnu/bits/poll2.h" file is truncated, it ends in the middle of a declaration. Can you please post it here to confirm?

[2017-02-22 09:58] thehajime commented on #245
Fixed by #335.
(I was expected to close this issue by b485d40e954528c1e7141f69d6fa6677adc3aea2 but seems not to be automatically closed, dunno why.)

[2017-02-22 09:58] #245 closed

[2017-02-22 10:01] lamiaaMB commented on #253
Copyright (C) 2012-2015 Free Software Foundation, Inc.
   This file is part of the GNU C Library.

   The GNU C Library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free Software Foundation; either
   version 2.1 of the License, or (at your option) any later version.

   The GNU C Library is distribute

[2017-02-22 10:28] tavip commented on #253
@lamiaaMB OK, the file seems to be intact, but somehow the processing for it ends in the middle of that last definition. Lets try to compile the following simple program:

#include <pthread.h>
#include <stdlib.h>
#include <sys/time.h>
#include <time.h>
#include <signal.h>
#include <assert.h>
#include <unistd.h>
#include <errno.h>
#include <string.h>
#include <time.h>
#include <stdint.h>
#include <

[2017-02-23 04:59] lamiaaMB commented on #253
it fails to compile with this error :
a.c:17:0: error: expected identifier or ‘(’ at end of input

[2017-02-23 05:01] lamiaaMB commented on #253
This is the .o file after running the second command
[a.o.zip](https://github.com/lkl/linux/files/795578/a.o.zip)

[2017-02-23 06:44] thehajime commented on #253
now I found in your reported poll2.h (https://github.com/lkl/linux/issues/253#issuecomment-281623547), the poll function is commented out - this may be why you got the compilation error.

I have completely no idea why this is.

[code]

[2017-02-23 09:48] tavip commented on #253
@lamiaaMB @thehajime It looks like your system header file is corrupted, can you try to force reinstall the libc6-dev:amd64 package?

[2017-02-24 19:01] spoiledsport opened #337 "0k memory available"
Guys

Any idea on why I am getting the following message when I run the library

[    0.000000] Memory available: 1008324k/0k RAM

This is in my port to Windows 64bit (LP64). What did I do wrong?

Command and full log

cptofs.exe -p -t ext3 -i sample.img build

[    0.000000] Linux version 4.9.0+ (ediso@DESKTOP-PPLRP4G) (gcc version 6.3.0 (GCC) ) #3 Wed Feb 8 17:01:16 EST 2017
[    0.000000] bootm

[2017-02-26 15:24] lamiaaMB commented on #253
Thank you @tavip ,and @thehajime .
the system headers were, mysteriously, corrupted. After I upgraded the system and reinstalled libc6-dev:amd64, everything worked fine, and I managed to build it successfully.
Thanks a lot for your support and patience :)

[2017-02-26 15:24] #253 closed

[2017-02-27 00:53] Rondom commented on #289
The MinGW-version of the package is lacking the patch as well. Any takers? ;-)
https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-binutils

[2017-02-28 22:27] copumpkin opened #341 "Support 32-bit builds"
When I try to run it in my 32-bit build environment, I get the following error:

[code]

Not sure if it's something weird about my environment (which is admittedly unusual), but I figured I'd avoid wasting time on it if it's not expected to work on 32-bit systems in the first place.

[2017-02-28 23:39] Rondom commented on #341
I actually noticed this when testing my LFS-Pull-Request. :-)
I think it never really worked on Linux-i386. You can change `arch/lkl/Makefile` to get the kernel building, but it will fail during linking.

Take the following with a pinch of salt, I am by no means an expert on this, so anything of the following may be wrong, so please correct me in order for me to learn something ;-):
Reason for thi

[2017-02-28 23:42] copumpkin commented on #341
Cool, thanks for the information. I actually don't use i386 for anything, but our [automated build system](http://hydra.nixos.org/build/49451529) tried to build it for i386 and failed, so I figured I'd ask. For now I'll just disable i386 builds for that package and call it a day 😄

You think it's worth me opening a separate ticket to support i386? I don't feel strongly about supporting it and it's

[2017-02-28 23:51] Rondom commented on #341
Didn't you just do that? I mean why do ask to open "a separate ticket", when you have, in fact, already opened one. So why not leave this ticket open?

I do not think it is a lot of work for someone who is familiar with those things and I do see some gain in fixing this. Despite claims to the contrary, i386 is not going disappear any time soon and there are other architectures that probably rely o

[2017-02-28 23:56] copumpkin commented on #341
Fair enough 😄

[2017-03-07 09:26] M1cha opened #342 "interrupt requirements of LKL"
I've looked through LKL's logs and found this commit:
https://github.com/lkl/linux/commit/d0621be7992ef6875cba11bbd1d45c740d989d94

I don't know if that's still the case but when I first ported LKL, there were tons of problems without external scheduling of the threads.

[2017-03-07 23:49] thehajime commented on #342
if I revert the commit, it hangs up during the boot so, yes, this is still the case.

with a cooperative scheduler in my rump port, this commit doesn't help to alleviate the issue, which I might have to investigate in some spare time btw.

[2017-03-29 11:48] koala0529 opened #343 "dlsym fail sendmmsg ((null))"
when i execute this
[code]
it appear this in my terminal

dlsym fail sendmmsg ((null))
haproxy: lib/hijack/hijack.c:48: resolve_sym: Assertion `0' failed.
Aborted (core dumped)

[2017-03-30 06:31] thehajime commented on #343
it apparently says that the standard library on host system doesn't have a symbol `sendmmsg` .
what kind of OS and kernel are you using with this error ?

[2017-03-30 06:57] koala0529 commented on #343
@thehajime yes,My os is `centos6`,kernel version is `2.6.32`.My glibc version is `2.12`,i think if i update my glibc library to version `2.14`,which can resolve my problem.thank you.

[2017-03-30 06:58] #343 closed

[2017-04-07 14:21] ekenchan opened #344 "compile error on FreeBSD"
lib/virtio_net_tap.c:18:26: fatal error: linux/if_tun.h: No such file or directory

[2017-04-08 15:18] thehajime commented on #344
Thanks for the report.  It hasn't been tried/tested virtio net driver on FreeBSD I suppose - keep this issue opened and will get back here if there is a right fix.

[2017-04-12 02:23] thehajime commented on #304
For those who're not familiar with the history, there was an attempt of RFC (*1) to LKL back in the fall of 2015.  I believe the feedback were mostly nice, comparing the previous my RFC of libos patches, which were reached into a refusal due to the maintainability of the patch.

There were a couple of negative comments (*2) on the basic idea of LKL, as I can see are from xfs subsystem and netdev (

[2017-04-12 08:02] tavip commented on #304
I agree with Hajime. I think we need to start small and ideally work with people that believe in this idea. The UML maintainer has been very open about unifying UML with LKL so I think this is a good path to take.

One of the ideas we discussed was to modify UML so that it gets built into two stages like LKL is: one pure kernel and one for the userspace parts. The UML maintainer was in favor of th

[2017-04-13 09:32] thehajime commented on #304
I am a little bit worried about librarifying UML.  It has been in their wish list for a quite long time and it is still not available in 2017.

http://user-mode-linux.sourceforge.net/old/projects.html (section `UML as a normal userspace library`, written in early 2000s ?)

Of course it is very very nice if those are unified.

My initial thought on small-start doesn't include this unification with

[2017-04-16 14:54] copumpkin opened #345 "Support for Darwin builds"
Is LKL expected to work on macOS? If I try to build it, it fails quickly with:

[code]

It seems like in principle it should be able to work just fine as a library, but I don't know if there are annoyances in practice. I see that https://github.com/lkl/linux/issues/18 suggests that compiling on LLVM could be difficult, and @tavip suggests that the linker scripts could make this difficult.

[2017-04-16 14:57] copumpkin opened #346 "cptofs and file ownership"
I'm looking for a way to tell `cptofs` which file owners/groups I would like inside my filesystems. I could imagine a simple spec file that you pass in to tell it about ownership, or if not that, something like https://github.com/lkl/linux/issues/299 could also do it.

[2017-04-16 15:11] Rondom commented on #345
Not familiar with Darwin at all: Is there anything that speaks against compiling with GCC?
For a start, have you tried starting with adding darwin support to arch/lkl/Makefile and trying to get at least vmlinux to compile?

[2017-04-16 15:14] copumpkin commented on #345
Yeah, I can compile fairly easily with GCC. I haven't tried touching anything yet, but might try hacking it up a bit later and see if I can get the compile to go through. How screwed are we with the linker though?

[2017-04-17 22:56] copumpkin opened #347 "ZFS support?"
If I wanted to teach LKL about a ZFS kernel module, how might I do that? It'd be lovely to get LKL to be able to read/write ZFS images as easily as it can do all the filesystems bundled with the kernel.

[2017-04-27 10:26] allientneko commented on #63
Is this going to be implemented? Although module loading code is pretty architecture-specific, sometimes this still can be fixed ( in a hard way). This feature is useful for me as I have some kernel module which only supports kernel 3.10. I would like to try the module on my new machine.

[2017-04-27 15:39] tavip commented on #63
@allientneko If you have the sources of the module you can stitch it in the kernel build, it is pretty easy to do.

[2017-04-27 15:44] copumpkin commented on #63
Also related to #347

[2017-04-27 15:59] allientneko commented on #63
@tavip
That's the problem. I do not have the source code.
The company stops maintaining the module.
However, I do agree that it may take a lot of effort to run the module even if LKL support this feather.

[2017-04-27 16:03] tavip commented on #63
@allientneko Without source code it would be difficult to make the module work since that would require LKL to be compiled with the same options as the module, which might not be be even possible.

[2017-04-27 16:16] allientneko commented on #63
@tavip
The only flags the module requires are SMP and x64.
The module symbol of the kernel module needs to be remapping to avoid "disagrees about version of symbol struct_module."

I tried it on UML. Almost there.
However, UML does not support SMP.
Hmm.....
I should give up the obsolete kernel module and move on.

[2017-05-13 04:22] mxi1 opened #348 "For arm 32bit android build, the "__sync_synchronize" symbol is UNDEFINED in liblkl-hijack.so"
Have you ever tried the ARM 32bit build with arm-linux-androideabi-gcc (4.9.x, 5.x, 6.x, whatever)? I am trying to make hijacking work on Android shell.

After the CROSS_PATH, CROSS_COMPILE and SYS_ROOT environmental variables are set, and some endian-related macro redefinitions are removed, the build process looks nice and the `liblkl-hijack.so` file is generated. Then, I pushed the file to one r

[2017-05-13 04:25] mxi1 commented on #59
From my practice, you need to set `--sysroot=$SYS_ROOT` options for both CFLAGS and LDFLAGS.

[2017-05-15 04:30] thehajime commented on #348
I also faced atomic ops symbols issue which I tried to solve by #273.  not upstreamed yet but it would be great if you can try the patch if it works or not.

[2017-05-15 10:30] mxi1 commented on #348
@thehajime Thanks for your help.
I added "-march=armv8-a" option to the CFLAGS and LDFLAGS options, and the undefined "__sync_synchronize" is gone.
However, there're still 4 undefined symbols for the build, all of which are related with atomic ops.

They are:
[code]

From the pull request #273 , I can see some similar ops are defined for ARMEL arch. However, all of them are not with "_4" ending.

[2017-05-15 10:45] mxi1 commented on #348
@thehajime Here is one solution mentioned in one old (about 5 years ago) blog: [How to solve __sync_add_and_fetch_4](http://schplurtz.free.fr/wiki/nslu2/solve-_sync_add_and_fetch_4), but we need to rebuild the compiler, which is more complicated for me.

[2017-05-16 03:00] thehajime commented on #348
@mxi1 the basic idea of #273 is to give us a chance to provide a single interface to different atomic ops implementations.  currently only two defines (ARMEL and other: I assumed x86_64) are included but you can add any ifdefs if it is appropriated.

[2017-05-17 03:22] mxi1 commented on #348
@thehajime By adding "-march=armv8-a" to both `arch/lkl/Makeifle` and `tools/lkl/Makefile`, these `__sync_xx` -related issues has gone.
However, when I am trying to hijack with `LD_PRELOAD=`, the `segmentation fault` shows up. The only message comes from `dmesg`, like:
[code]
I can track to `lkl_start_kernel(...)`, but cannot gather more information further. For the `Unhandled level 2 translation

[2017-05-17 04:06] thehajime commented on #348
a stack trace with gdb (from core dump if you have) will be helpful to see what's wrong with.
another way to debug is setting `LKL_HIJACK_DEBUG=1` environment variable to generate more messages.

does `make test` under tools/lkl directory successfully work ?
this will be clarify if hijack library behaves wrong, or lkl itself.

That's a great news.

[2017-05-17 06:08] mxi1 commented on #348
@thehajime

I got one `strace` but it doesn't work well. I can try others if I can get another one.
another way to debug is setting LKL_HIJACK_DEBUG=1 environment variable to generate more messages.

Yes, I enabled `LKL_HIJACK_DEBUG`, but couldn't get helpful information.
Because it crashes in very-early stage in `lkl_start_kernel`, might be when  memory operations, thread operations or atomic ope

[2017-05-19 10:00] mxi1 commented on #348
@thehajime Here is the final parts of `strace` output.

Anything useful for debug?  Thanks.

[code]

[2017-05-20 20:13] M1cha opened #349 ".ro_after_init mapping"
After enabling memory protection features in UEFI I found out that lkl puts .ro_after_init into .rodata.
This means that lkl tries to write to the rodata section during init - which gives me a MMU permission fault.

Why doesn't this break in the linux userspace? Don't they map .rodata readonly?

[2017-05-21 23:28] thehajime commented on #349
I didn't investigate deeply, but it looks like my previous trial may somehow relate to, which disables using the section on mingw32 host (2ac6c7183c22455425a244df1512063ce57dcaf4).

I didn't quite check how linux userspace doesn't have this issue though..

[2017-05-21 23:34] thehajime commented on #348
@mxi1 thanks for the trace, but I wasn't able to imagine how it works bad..

maybe I think we can fix the build issue you faced `only Position independent executables (PIE) are supported`, and then see how the `make test` works to see.

If PIE build is a constraint on Android binary, we can add the linker flag (`-pie`) on the lkl build.

[2017-05-22 05:05] M1cha commented on #349
@thehajime afaik defining RO_AFTER_INIT_DATA to an empty variable implies that you put the section somewhere in your linker script. Since you didn't do that it means that the section should actually not be included in the compiled binary - which obviously sounds even works and makes me wonder how compiles handle that.

[2017-05-22 05:45] M1cha commented on #349
ok I've compiled lkl for linux(x64) and this is the related readelf output:
[code]

which means that rodata is being mapped as writable. I guess that gcc somehow detects that you're writing to it and decides to map it writable.
After manually removing write-permissions from that section using a hex-editor the binary still runs. Are the section headers being ignored and the program headers used ins

[2017-05-23 03:06] mxi1 commented on #348
@thehajime  Thanks for your advice. As I know, PIE build is not one constraint on Android, and I also tried `-pie` when  I saw your response, it failed.   The same options (I mean without any `-pie`-like options) work on Android on ARM64... I will continue to see what happens.

[2017-06-01 09:36] mxi1 commented on #348
@thehajime In order to find where the code crashes, I added several checkpoints, and found the location:
This line in `arch/lkl/kernel/setup.c`
[code]
it will call the `sem_alloc` function defined in `tools/lkl/lib/posix-host.c`.

In `sem_alloc()`, all  the code works fine, until the last line `return sem;`. It seems the `return` value triggers the `unhandled level 2 translation fault`.

[2017-06-15 10:35] mxi1 commented on #59
@stfairy , I tried the latest `arm-linux-androideabi-` toolachains from https://android-git.linaro.org/platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-6.3-linaro.git/ , and also cross checked the source code of `gold` from https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=gold/object.cc;h=76d4630d16a8cfbe445f421250798c3438aa48e4;hb=cb8abd63853c3b8b74e17d7d12a8e5ed0492668

[2017-06-16 03:21] liuyuan10 commented on #59
is using bfd linker an option for you? That's how we get around this issue. but we are not building it for arm

[2017-06-16 04:11] mxi1 commented on #59
I managed to build the binutils with the above code change, but there's one error when linking, like this:
[code]

I checked the configuration options, cannot find one for `use sysroots`.

[2017-06-16 04:29] mxi1 commented on #59
@liuyuan10 No, `bfd` doesn't work. Then, I started to rebuild the binutils against android sysroot, but finally it says the `ld` was not configured to use sysroots.
Here's my configuration:
[code]
Can you help to figure out the missing options? Thanks.

[2017-06-16 05:26] mxi1 commented on #59
@liuyuan10 , is the build for ARM32 only? Right now, I can build the ARM64-specific targets, and they work well. The ARM32 build are always segfault.

[2017-06-16 08:02] mxi1 commented on #59
@liuyuan10 finally, I got one workaround.

In the beginning, using the patched `arm-linux-androideabi-` binutils to run against `make -C tools/lkl`; the kernel source code should be compiled and generate the `lkl.o`; then, the error comes as I mentioned above.
The workaround is to switch back to the original `arm-linux-androideabi-` binutils to compile the `tools/lkl` directory, then the lkl libra

[2017-06-16 08:13] thehajime commented on #59
@mxi1

Great !! Is `make test` also working fine ?

[2017-06-16 09:20] mxi1 commented on #59
@thehajime
I can hook native binaries (e.g. 32bit `iperf3` and others); I also tried the `boot` from the `tests/` directory, and it works, too.

[2017-06-21 05:52] thehajime commented on #59
@mxi1 looking forward to your PR !

[2017-06-28 07:06] thehajime commented on #348
@mxi1 now I'm trying to test this on aarch64 but still struggling to build liblkl-hijack.so.  which toolchain did you use when aarch64 hijack works fine ?

I'm right now using the tarball generated by `make_standalone_toolchain.py --arch arm64`, included in ndk version 15.0.4075724.

btw, please close this issue if you solved the original issue.

[2017-07-01 04:09] mxi1 commented on #348
@thehajime Okay, I think I can close this issue, and I am still preparing one patch for both arm32 and arm64 supports.

There's one bug in aarch64 android gcc toolchain 4.9, you need to use one higher-version toolchain, I remember version 5.4 should work, which I got from linaro git repo. Let me try to find the url for you from my home laptop

[2017-07-01 04:09] #348 closed

[2017-07-01 04:20] mxi1 commented on #348
@thehajime Use this one: https://android-git.linaro.org/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-5.4-linaro.git/

[2017-07-03 05:26] thehajime commented on #348
@mxi1 Thanks a lot !

Though I still faced the same issue of linking (https://sourceware.org/bugzilla/show_bug.cgi?id=18270), I can successfully build liblkl-hijack.so  with 6.3 version of toolchain (https://android-git.linaro.org/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-6.3-linaro.git/) and it's working fine on aarch64 emulator (of Android).

[code]

[2017-07-03 06:57] mxi1 commented on #348
@thehajime I didn't notice this issue. I am trying to make the networking function of this hijack library work for me. Is the issue very serious for running lkl on aarch64 platform?

[2017-07-03 07:40] thehajime commented on #348
@mxi1 we're trying to make the network working but not deeply tried yet.

the above issue of 4.9/5.4 toolchains is about ld (linker), we cannot build liblkl-hijack.so so we cannot avoid the issue.

[2017-07-03 07:51] mxi1 commented on #348
@thehajime Have you enabled 64BIT in the config file?  I checked my Makefile, no special options for elf64-littleaarch64 support. What I do is just adding `elf64-littelaarch64` along side with the existing `elf32-littlearm`, and removing the `__android__` part from `tools/lkl/lib/endian.h`.  There's one link problem, and I have mentioned in another issue for ARM support, but that seems to be anoth

[2017-07-03 07:58] thehajime commented on #348
yes

my current, work-in-progress patches are available here.

https://github.com/libos-nuse/lkl-linux/commit/5c5bd5cfb7c78cc2a33ccef631a726875c811fbb

it's going to be more complicated later :)

[2017-07-03 08:07] thehajime commented on #348
btw, I'm testing 7.x android for the above aarch64 hijack.

[2017-07-03 08:36] mxi1 commented on #348
@thehajime the android version doesn't matter. the gcc cross-toolchain stays the 4.9 version, and it seems Google will use llvm to replace gcc. I have added two comments in your 5c5bd5c patch, you could try my way to see if it works.

[2017-07-07 10:03] mxi1 commented on #292
@staalmannen

Have you got it work under clang?

[2017-07-11 00:35] speedingdaemon opened #355 "Getting started with LKL"
Hi All,

I am trying to write a hello-world client server application using LKL.
Is there any documentation that I can refer to to get going?
I am a bit confused on how can I use LKL to write a client/server async application.

Any help is appreciated.

thanks

[2017-07-11 05:57] tavip commented on #355
Hi,

The easiest way to build you lkl app is to add it in tools/lkl and modify the Build file to include you app.

If you want to build you app outside tools/lkl you can use the following Makefile:

[code]

Note: -llkl needs to be assigned to LDLIBS so that it is added to the end of the linker command, otherwise you get the undefined references issues you run into.

[2017-07-11 13:09] speedingdaemon commented on #355
Thanks. Will this work even though I don't see the symbols such as lkl_sys_socket in liblkl.so?
Sorry, asking too basic questions.

Also where can I get info on how to stop the client server app code? For example, do I need to setup some virtio device for communication to take place? How do I setup the lkl_start_process/etc? I want to run my server and client on  2 different machines.

[2017-07-11 13:35] speedingdaemon opened #357 "LKL latency/throughput"
I was reading this awesome paper written by Jerry : https://netdevconf.org/1.2/papers/jerry_chu.pdf
It mentions that the performance of lkl in user space did not beat that of host OS. Is that true still?
Does anyone know/has done some more performance benchmarking to find out more such latency /throughput numbers?
Curious to know what to expect with a TCP proxy service based off of lkl.

[2017-07-11 13:38] tavip commented on #355
lkl_sys_* calls are inline wrappers defined in headers that call lkl_syscall.

Please take a look at tools/lkl/net-test.c for an example of using the networking part of LKL.

[2017-07-11 17:21] speedingdaemon commented on #355
Sounds like I am still doing something wrong (still getting undefined reference error):
gcc -o build/x86/linux/test_lkl build/x86/linux/test_lkl.o -g -O3 -I./../../../../../../lkl/linux//tools/lkl//include -DCONFIG_AUTO_LKL_POSIX_HOST-llkl  -L./../../../../../../lkl/linux//tools/lkl/

[2017-07-11 17:40] tavip commented on #355
-llkl seems glued to -DCONFIG_ but I am not sure if that is not a paste error. Could you please share the Makefile you are using?

[2017-07-11 17:45] speedingdaemon commented on #355
CC=gcc
CFLAGS=-g -O3
CFLAGS_SSL=$(CFLAGS) -DTLSTEST_SSL_ENABLE

# Source Directories
SRC         =   src
CMN_SRC     =   src/common
LNX_SRC     =   src/linux

# Build Directory
BLD         =   build

OPENSSL_DIR =   ./third-party/openssl/
OPENSSL_INC =   $(OPENSSL_DIR)/include/
OPENSSL_LIB =   $(OPENSSL_DIR)/build/${ARCH}/linux/latest/
LKL_DIR     =   ./../../../../../../lkl/linux/
LKL_LIB     =

[2017-07-11 17:54] tavip commented on #355
It looks ok. Can you give a try with the Makefile I've mentioned above and with net-test in some out of tree directory? To rule out any setup issues.

[2017-07-11 18:00] speedingdaemon commented on #355
This was able to build:
root@srv12:~/users/arathore/Pensando/net-test# cat Makefile
LKL_DIR = /root/users/arathore/Pensando/lkl/linux/tools/lkl
CFLAGS := -I$(LKL_DIR)/include -DCONFIG_AUTO_LKL_POSIX_HOST
LDFLAGS := -L$(LKL_DIR)
LDLIBS := -llkl -lpthread -lrt

net-test: net-test.o
root@srv12:~/users/arathore/Pensando/net-test# ls
Makefile  net-test  net-test.c  net-test.o  test.h
root@srv12:~/users

[2017-07-11 18:01] speedingdaemon commented on #355
root@srv12:~/net-test# cat Makefile
LKL_DIR = ~/lkl/linux/tools/lkl
CFLAGS := -I$(LKL_DIR)/include -DCONFIG_AUTO_LKL_POSIX_HOST
LDFLAGS := -L$(LKL_DIR)
LDLIBS := -llkl -lpthread -lrt

net-test: net-test.o
server2:~/net-test# ls
Makefile  net-test  net-test.c  net-test.o  test.h
server2:~/net-test#

[2017-07-11 21:42] speedingdaemon commented on #355
So now I have taken code from this (https://github.com/lkl/linux/issues/133) thread and modified it to use lkl_sys_ APIs directly:
root@myserver:/lkl-test-client-server# more server.c
#include <sys/socket.h>
#include <netinet/in.h>
#include <arpa/inet.h>
#include <stdio.h>
#include <stdlib.h>
#include <unistd.h>
#include <errno.h>
#include <string.h>
#include <sys/types.h>

#include <lkl.h>
#inclu

[2017-07-11 23:55] thehajime commented on #355
@speedingdaemon it looks like that you're configuring an IP address "192.168.70.99" to the host tap device *and* an interface of LKL server application.  I believe it's not intentional, no ?

in that case, ping returns back from your host, not from LKL server application.

other things it's not clear to me is the following log lines

[code]

this log should print the 2nd argument of `lkl_start_ker

[2017-07-12 00:09] speedingdaemon commented on #355
Sorry, didn't realized that I pasted the wrong snippet. Was trying out too many things in parallel.
Don't have the host tap device anymore.
Here is the correct code from server side:
#include <sys/socket.h>
#include <netinet/in.h>
#include <arpa/inet.h>
#include <stdio.h>
#include <stdlib.h>
#include <unistd.h>
#include <errno.h>
#include <string.h>
#include <sys/types.h>

#include <lkl.h>
#includ

[2017-07-12 00:30] speedingdaemon commented on #355
@thehajime with me creating the tap on host and then in the server.c, i thought that is what net.sh and net-test.c were doing anyways. Is that not the case? Sorry, asking very basic question.